.about {
  background-color: white;
  font-size: 26px;
  color: black;
  border-radius: 10px;
  width: 100%;
  padding: 54px;
  margin-top: 24px;
  line-height: 55px;
  text-align: justify;
}
span {
  color: rgba(255, 153, 0, 1);
}
.aboutUs {
  width: 100%;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
}
.a {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
.row {
  --bs-gutter-x: 35px;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1.4 * var(--bs-gutter-y));
    margin-right: calc(-3.5 * var(--bs-gutter-x));
    margin-left: calc(2.5 * var(--bs-gutter-x));
}