.Container1 {
  position: relative;
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
}

.Thumbnail {
  background: #121244;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
}
.Thumbnail img {
  width: 100%;
  height: 100%;
}
.card-berita-partials {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  padding: 15px;
  width: 100%;
}
.card-berita-partials h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #ffffff;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.card-berita-partials a {
  color: white;
}

.card-berita-partials h1:hover,
.card-berita-partials a:hover {
  color: #ff9900;
  cursor: pointer;
}

@media screen and (min-width: 1600px) {
  .card-berita-partials h1 {
    font-size: 16px;
  }
}
