.breadcrumbs {
  display: inline-block;
}
ul.breadcrumb {
  width: 100%;
  padding: 16px 24px;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 14px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
