.flex-container {
  display: flex;
  flex-direction: column;
  background: white;
  flex-wrap: wrap;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  padding: 20px;
}
.kategori {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.kategori p {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
}

.kategori .active {
  color: #ff9900;
}

.kategori a {
  color: gray;
  text-decoration: none;
  font-size: 18px;
}

.kategori a:hover {
  color: #ff9900;
  font-weight:600;
  transform: translateX(10px);
  transition: 0.2s ease;
}
