/* body {
            margin: 7%;
            padding: 0;
            background-color: rgba(189, 189, 189, 0.897);
        } */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.side-kiri {
    display: flex;
    flex: 60%;
    flex-wrap: wrap;
    background-color: white;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.side-kanan {
    display: flex;
    flex: 30%;
    flex-wrap: wrap;
    background-color: white;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

.paragraf {
    margin-top: 15%;
    margin-left: 5%;
}
.py-5 {
    padding-top: 7rem!important;
    padding-bottom: 3rem!important;
}
.px-0{
    padding-right: 0!important;
    padding-left: 90px;
}
