.container-rating {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  padding: 32px;
}
.container-rating-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.container-rating-inner .text-rating {
  text-align: left;
  margin: 0;
  color: #8d8d8d;
  font-size: 18px;
}
.rating-website {
  display: inline-block;
  margin: auto;
}
.rating-website-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-rate p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.icon-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.icon-value {
  border-radius: 50% !important;
  background-color: black;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.5s ease;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
.btn-check:checked + .btn-outline-primary.icon-value {
  background-color: #ff9900;
  color: rgb(255, 255, 255);
}
.icon-value p {
  margin: 0;
}

.icon-value:hover {
  background-color: #ff9900;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.icon-value.active {
  background-color: #ff9900;
  color: rgb(255, 255, 255);
}

.container-rating-inner textarea {
  resize: none;
  width: 100%;
  height: 280px;
  background: #f5f7f9;
  border-radius: 14px;
  font-size: 14px;
  border: none;
  padding: 32px;
}

.container-rating-inner textarea:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.btn-feedback {
  float: right;
  padding: 16px 40px;
  background: #ffe2b7;
  border-radius: 39px;
  outline: none;
  border: none;
  box-shadow: none;
  color: white;
}

.btn-feedback.active {
  background: #ff9900;
}
