html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f5f7f9;
}
a {
  color: white;
  text-decoration: none;
  font-style: bold;
}

/* Untuk container Trending Topics, Video Teratas, Pilihan Editor yang ada di kiri */
.container-topics {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  padding: 20px;
}
.container-topics-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscribe.unsubscribe {
  background-color: #8d8d8d;
  color: white;
  transition: 0.5s ease;
}

.subscribe.unsubscribe:hover {
  background-color: #ff9900;
}
