.detail-berita-container {
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  font-family: "Poppins";
}

.background-berita {
  width: 100%;
  border-radius: 14px;
  position: relative;
  z-index: 1;
}
.card-detail-berita {
  padding: 30px;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  background: white;
  position: relative;
  z-index: 2;
  width: 810px;
  margin: auto;
  margin-top: -15%;
}
.card-inner-berita {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding-left: 10%;
  padding-right: 10%;
}
.card-title {
  text-align: left;
  font-weight: bold;
  font-size: 36px;
}
.sinopsis {
  text-align: center;
  font-style: italic;
  margin: 0;
  color: rgb(153, 153, 153);
}
.kategori-detail {
  text-align: center;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.kategori-berita {
  border-radius: 500px;
  border-style: solid;
  border-color: #ff9900;
  padding-left: 20px;
  padding-right: 20px;
}
.icon-container-detail {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.icon-detail {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.like_btn {
  background-color: #ffffff;
  padding: 0;
  border: none;
}
.isi-berita {
  width: 650px;
  margin: auto;
  text-align: justify;
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 2;
}
.tag-berita {
  display: flex;
  gap: 15px;
  margin-top: 40px;
  padding-bottom: 50px;
}
.tag-berita p {
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .card-detail-berita,
  .isi-berita {
    width: 710px;
  }
}
