footer {
  width: 100%;
  height: 120px;
  background: black;
  bottom: 0px;
  font-size: 14px;
}
a {
  color: white;
  text-decoration: none;
  font-style: bold;
  font-family: "Poppins";
}
.footer-filmen {
  display: flex;
  justify-content: space-between;
  padding: 0px 4%;
}
.logo-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}
.list-inline a:hover {
  color: #ff9900;
  cursor: pointer;
}
.list-inline {
  margin: 0;
}
.footer-informasi p {
  color: white;
  opacity: 50%;
  margin: 0;
  font-family: "Poppins";
}
.footer-medsos p {
  opacity: 0%;
}
.footer-feedback span {
  color: #8d8d8d;
}

@media screen and (min-width: 1600px) {
  .footer-filmen {
    font-size: 18px;
  }
}
