.form-subscribe{
    position: absolute;
    width: 700px;
    height: 500px;
    left: calc(50% - 700px/2 - 0.5px);
    /* top: calc(50% - 654px/2); */
    background: #121212;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    top: 50px;
}
.form-subscribe-list{
    width: 320px;
    height: 400px;
    background-color: rgb(24, 24, 24);
    color: white;
    font-family: "poppins";
    border-radius: 15px;
    padding-top: 75px;
}
h2{
    color: rgba(255, 153, 0, 1);
}
p{
    color: rgba(255, 153, 0, 1);
    font-size: 12px;
}
:placeholder-shown{
    font-style: italic;
    font-size: 12px;
}
label{
    font-size: 14px;
    color: white;
    opacity: 75%;
    text-align: left;
    font-size: 13px;
}
.btn-submit{
    border-radius: 20px;
    width: 120px;
    border-color: black;
    height: 30px;
    background-color: rgba(61, 61, 61, 1);
    font-size: 13px;
    border: 4px;
}
.input{
    border-radius: 20px;
    background-color: rgba(18, 18, 18, 1);
    border-color: rgba(18, 18, 18, 1);
}
.form{
    padding-top: 20px;
}