.containerBesar {
  width: 100%;
  border-radius: 14px;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.05);
  background: white;
}
.containerBesar-inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.containerBesar-inner .gambar-thumbnail {
  filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.05));
  border-radius: 14px;
  height: 360px;
  object-fit: cover;
  width: 100%;
  object-position: center;
}
.containerBesar-inner .gambar-thumbnail:hover {
  cursor: pointer;
}
.deskripsi-thumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 25px;
  gap: 15px;
  flex-wrap: wrap-reverse;
}
.deskripsi-thumbnail .title {
  font-size: 24px;
  display: inline-flex;
  font-weight: 600;
  margin: 0;
}
.icon-container-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.icon-detail {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}
#like:hover {
  cursor: pointer;
}
.like_btn {
  background-color: #ffffff;
  padding: 0;
  border: none;
}
.kategori-berita {
  border-radius: 500px;
  border-style: solid;
  border-color: #ff9900;
  padding-left: 20px;
  padding-right: 20px;
}
.title a {
  color: black;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.title a:hover {
  color: #ff9900;
  cursor: pointer;
}
.body-film {
  padding: 1px 25px;
  text-align: justify;
  margin-bottom: 20px;
  height: 126px;
}
.text-body-film {
  margin-bottom: 10px;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.read-more {
  font-size: 16px;
  color: rgb(133, 133, 133);
}
.read-more:hover {
  color: #ff9900;
  cursor: pointer;
}

@media screen and (min-width: 1600px) {
  .deskripsi-thumbnail .title {
    font-size: 36px;
  }
}
