.container-header {
  position: fixed;
  width: 100%;
  height: 54px;
  top: 0;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 8%;
  z-index: 999;
  background-color: #121212;
}

.logo {
  display: flex;
  width: auto;
  height: 45%;
  margin-left: 4%;
  color: #ffffff;
}

.navigation {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  line-height: 13px;
  width: 27%;
  margin-left: 3%;
  margin-right: 7%;
  justify-content: space-between;
}

.active {
  color: #ff9900;
  font-weight: 400;
  text-decoration: none;
}
a.active:hover {
  color: #ff9900;
  font-weight: 400;
  text-decoration: none;
}
a.idle:link {
  color: #ffffff;
  font-weight: 200;
  text-decoration: none;
}
a.idle:visited {
  color: #ffffff;
  font-weight: 200;
  text-decoration: none;
}
a.idle:hover {
  color: #ff9900;
  font-weight: 200;
  text-decoration: none;
}

.search_bar {
  display: flex;
  background: #ffffff;
  justify-content: space-between;
  border-radius: 33px;
  width: 23%;
  height: 45%;
  margin-left: 5%;
}

.search_bar input {
  width: 100%;
  margin-left: 6%;
  border: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.search_bar input:active,
.search_bar input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.search_button {
  float: left;
  border: 0;
  padding-right: 8%;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 33px;
}
.search_button::after {
  content: "";
  clear: both;
  display: table;
}

.search_icon {
  display: flex;
  float: left;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

a.link {
  display: flex;
  border-radius: 22px;
  font-size: 12px;
  width: 7%;
  height: 45%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 250;
  line-height: 28px;
  justify-content: center;
  align-items: center;
}
.subscribe {
  background: #e4e4e4;
  color: #0c0c0c;
  margin-left: 1%;
  margin-right: 1%;
  text-decoration: none;
}
a.subscribe:hover {
  color: #0c0c0c;
  cursor: pointer;
}
.contact {
  background: #ff9900;
  color: #ffffff;
  margin-right: 4%;
  text-decoration: none;
}
a.contact:hover {
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 1600px) {
  a.link,
  .navigation,
  .search_bar input {
    font-size: 20px;
  }
  a.link {
    width: 8%;
  }
}
