.highlight-video {
  width: 100%;
  background-color: rgb(12, 12, 12);
  border-radius: 14px;
  font-family: "poppins";
  padding: 25px;
  margin-top: 3rem;
}

.card-body-video {
  padding: 15px;
}

.card-img-top {
  border-radius: 14px;
  height: 240px;
}

.highlight-video h5,
.card-body-video h5 {
  color: white;
  font-size: 18px;
  font-weight: bolder;
  line-height: 1.8;
}

.highlight-video h5:hover,
.card-embed-video.white-video h5:hover,
.card-body-video h5:hover {
  color: rgb(247, 137, 19);
  cursor: pointer;
}

.highlight-video p,
.card-body-video p {
  font-size: 14px;
  margin-top: 6px;
  color: white;
}

.highlight-video p,
.card-body-video p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.highlight-text {
  color: #ff9900;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* For Black Colour Video */
.card-embed-video {
  background: #242424;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  height: 100%;
}

/* For White Colour Video */
.card-embed-video.white-video {
  background: white;
}
.card-embed-video.white-video h5 {
  color: black;
  font-size: 18px;
  line-height: 1.8  ;
}
.card-embed-video.white-video p {
  color: #8d8d8d;
  font-size: 14px;
  margin-top: 6px;
}
.card-embed-video.white-video .card-img-top {
  height: 200px;
}

@media screen and (min-width: 1600px) {
  .card-img-top {
    height: 332px;
  }
  .card-embed-video.white-video .card-img-top {
    height: 364px;
  }
}
