.box-komentar {
  flex-wrap: wrap;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  padding: 30px;
}

.card-subtext {
  padding: 34px;
  width: 100%;
  background: #f5f7f9;
  border-radius: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment-detail {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
}
.profile-comment {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}
.comment-detail .comment-text {
  display: flex;
  flex-direction: column;
}
.date-comment {
  position: absolute;
  right: 0;
}
.subtext {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.input-komentar {
  display: flex;
  gap: 15px;
}

.input-komentar .input-group-text {
  background: transparent;
  border: none;
}
