.posisianimasiload {
  margin-left: 33%;
  margin-right: 45%;
  margin-top: 17%;
}
.loadingcircle {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50px;
  background: none;
}
.move1 {
  animation: move1 1s;
  animation-iteration-count: 3;
}
@keyframes move1 {
  0% {
    left: 0px;
    top: -50px; /*left sama top disesuaiin lagi klo ukuran lingkarannya diganti*/
    transform: scale(1);
    background: #f5f7f9;
  }

  50% {
    transform: scale(2);
    background: #ffffff;
  }

  100% {
    left: 200px;
    top: -50px;
    transform: scale(1);
    background: #f5f7f9;
  }
}

.move2 {
  animation: move2 1s;
  animation-iteration-count: 3;
}
@keyframes move2 {
  0% {
    left: 200px;
    top: 0px;
    transform: scale(1);
    background: #f5f7f9;
  }

  50% {
    transform: scale(0.5);
    background: #e4e4e4;
  }

  100% {
    left: 0px;
    top: 0px;
    transform: scale(1);
    background: #f5f7f9;
  }
}

.background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
.transparansi {
  z-index: 999;
  animation: transparansi 3s;
}
@keyframes transparansi {
  0% {
    background: none;
  }
  10% {
    background: rgba(0, 0, 0, 0.21);
  }
  90% {
    background: rgba(0, 0, 0, 0.21);
  }
  100% {
    background: none;
  }
}
