.login-page {
  color: #ffffff;
  font-family: "Poppins";
  height: 100vh;
  transition: 0.5s ease;
}
.title-text {
  padding-top: 100px;
  font-weight: 700;
  position: relative;
  z-index: 999;
}
.bg-login {
  position: absolute;
  width: 100%;
  height: 100%;
}
.login-container {
  position: absolute;
  left: 50%;
  top: 55%;
  width: 500px;
  transform: translate(-50%, -50%);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.title-login p {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  padding-left: 10px;
}
.title-login a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}
.title-login a:hover {
  cursor: pointer;
  color: #ff9900;
}
.login-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login-inner input {
  border-radius: 44px;
  border: 1px solid #8d8d8d;
  padding: 10px 32px;
  color: white;
  background-color: transparent;
}
.login-inner input:focus {
  border: 1px solid #5e5e5e;
  box-shadow: none;
  outline: none;
}

.login-inner button {
  background: #e4e4e4;
  border-radius: 39px;
  padding: 6px 40px;
  color: black;
  outline: none;
  border: none;
  box-shadow: none;
  transition: 0.5s ease;
}
.login-inner button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.login-inner button:hover {
  color: white;
  background: #5e5e5e;
}

.back-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px;
}
.back-button a {
  text-decoration: none;
  color: white;
}
.back-button a:hover {
  cursor: pointer;
  color: #ff9900;
}

.note-password {
  margin: 0;
  text-align: center;
  color: #8d8d8d;
  font-size: 14px;
  margin-top: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}
.error {
  color: rgb(255, 51, 51);
  margin: 0%;
  position: absolute;
  left: 25px;
  bottom: -25px;
  font-size: 12px;
}

.warning-register {
  position: absolute;
  width: 500px;
  font-size: 14px;
  text-align: center;
  top: 0;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s ease;
}
.show {
  opacity: 1;
}
