.mini-thumbnail {
  display: flex;
  flex-direction: column-reverse;
  align-items: unset;
  justify-content: unset;
  padding: 16px 25px;
  padding-bottom: 0px;
  gap: 15px;
  flex-wrap: nowrap;
}

.icon-mini-headline {
  display: flex;
  gap: 30px;
  align-content: center;
  align-items: center;
}

.mini-headline {
  display: flex;
  justify-content: space-between;
}

.headline_paragraph {
  display: flex;
  width: 50%;
}
