.thumbnail-card-link .container_news p {
  color: black;
}
.thumbnail-card-link:hover .container_news p {
  color: #ff9900;
}
.container_movienewslainnya {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.container_news {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  cursor: pointer;
  width: 100%;
}

.container_news p {
  font-size: 16px;
  display: flex;
  font-weight: 600;
  align-items: center;
  padding: 20px;
  margin: 0;
}

img.news {
  width: 150px;
  height: 135px;
  border-radius: 14px;
  object-fit: cover;
}

.next {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 5%;
}

@media screen and (min-width: 1600px) {
  img.news {
    width: 165px;
    height: 150px;
    font-size: 16px;
  }
}
