.modal-content {
    background-color: black;
}

.modal-body {
    /* margin: 20%; */
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin: 10%;
    color: #FF9900;
}

.modal-button {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}