.modal-content.popupfeedback {
  background-color: transparent;
  border: none;
  outline: none;
}

.modal-body {
  /* margin: 20%; */
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  color: #ff9900;
}
