.flex-container {
  display: flex;
  flex-direction: column;
  background: white;
  flex-wrap: wrap;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  padding: 20px;
}
.paragraf {
  display: flex;
  flex-direction: column;
}
.icon-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.flex-container .paragraf p,
.flex-container .icon-list a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  margin: 0;
}
.flex-container .paragraf p {
  font-weight: 600;
  margin-bottom: 34px;
  font-size: 22px;
}
.flex-container .icon-list a {
  font-weight: 500;
}
.icon-share {
  width: 25px;
  border-radius: 5px;
  vertical-align: middle;
  left: 50%;

}
.tombol {
  text-decoration: none;
  color: black;
  text-align: center;
  display: inline-block;
  transition: 0.2s ease;

}
.icon-list {
  position: relative;
  flex-direction: row;
  gap: 12px;
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-list:hover .icon-share {
  left: 10%;
  filter: invert(61%) sepia(72%) saturate(2009%) hue-rotate(359deg)
    brightness(101%) contrast(105%);
}
.icon-list:hover .tombol {
  color: #ff9900;
  opacity: 5;
  transform: translateX(4px);
}

@media screen and (min-width: 1600px) {
  .flex-container {
    padding: 25px;
  }
  .icon-container {
    gap: 25px;
  }
  .icon-list {
    height: 35px;
  }
  .icon-share {
    width: 35px;
  }
  .icon-list:hover .tombol {
     transform: translateX(10px);
     font-weight:600;
     transition: 0.1s ease;
  }
}
