.judul {
    position: absolute;
    width: 156px;
    height: 38px;
    left: 1505px;
    top: 1543px;
    font-family: Poopins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 38px;
    color: black;
}

.background {
    position: absolute;
    width: 395px;
    height: 1046px;
    left: 1478px;
    top: 1606px;

    background: rgb(241, 240, 240);
    box-shadow: 0px 4px 14px
    rgba(0, 0, 0, );
    border-radius: 14px;
}


.vidio_teratas {
    position: relative;
    width: 331px;
    height: 182.13px;
    left: 49px;
    top: 16px;
    margin: 15px;

    filter: drop-shadow(0px 6px 6px
    rgba(0,0,0,0.25));
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 40px;

    position: absolute;
    width: 183px;
    height: 36px;
    left: 116px;
    top: 968px;

    background: #3d3d3d;
    border-radius: 22px;
}
