<div class="banner">
    <img src="../assets/BannerAboutUs.png" alt="about us" style="width: 100%;">  
  </div> <br>

  <div class="about">
      <h4 style="font-size: 36px"><b>What is Filmen?</b></h4>
      <p><b><span>Filmen</span> merupakan website berita yang menyajikan informasi-informasi terkait film, movies, dan serial. 
          <span>Filmen</span> merupakan website yang bisa diakses kapanpun dan dimanapun. 
          <span>Filmen</span> mempunyai visi untuk membantu masyarakat Indonesia dengan memberikan kemudahan untuk mengakses 
          berita terkait film maupun serial.</b></p>
  </div>
  
  <div class="about" style="font-style: bold;">
      <h4 style="font-size: 36px"><b>Why Filmen?</b></h4>
      <p><b><span>Filmen</span> merupakan website yang mudah diakses kapanpun dan dimanapun. 
          <span>Filmen</span> sendiri didesain dengan tampilan yang sangat User-friendly dan sangat menghindari tampilan-tampilan 
          yang tidak pantas, sehingga bisa digunakan oleh usia 13 tahun ke atas. <span>Filmen</span> juga memiliki beberapa fitur 
          menarik yang dapat membantu para pembaca.</b></p>
  </div>

  <div class="about">
      <h4 style="font-size: 36px"><b>How was Filmen founded?</b></h4>
      <p><b>SYNRGY Academy mempunyai kelas Pre-boothcamp, dimana kelas ini memfasilitasi orang-orang yang ingin menambah 
          skill di bidang IT.  Dalam Pre-boothcamp ini, diadakan Mini Project yang dilakukan secara berkelompok. 
          Pada Mini Project ini, kami, Tim A membuat website <span>Filmen</span> ini.</b></p>
  </div>

  <div class="about">

      <!-- TIM UI/UX -->
      <div class="aboutUs">
          <h4 style="color: rgba(255, 153, 0, 1);"><b>Tim UI/UX</b></h4><br>
          <div class="row">
              <!-- bio 1 -->
              <div class="col-6">
                  <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../assets/fototim/rama.jpg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
          </div>
          <div class="flex-grow-1 ms-3" style="color: white;">
              <p style="font-size: 24px;"><b>Rahmadhan Syah Putra</b></p>
              <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">ramadhansp_</span><br>
              <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="https://www.linkedin.com/in/ramdhansp">https://www.linkedin.com</a></span>
          </div>
          </div> 
              </div>
              <!-- bio 2 -->
              <div class="col-6">
                <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img src="../assets/fototim/Vanessa.jpg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
          </div>
          <div class="flex-grow-1 ms-3" style="color: white;">
              <p style="font-size: 24px;"><b>Vanessa Alexandra</b></p>
              <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">@vanessaalxndra</span><br>
              <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="https://medium.com/@stefanielouisa_93748/how-users-buy-celebrity-goods-on-website-b41b2b22323f">https://medium.com</a></span>
          </div>
          </div> 
            </div>
          </div>
      </div> <br><br>

      <!-- TIM FSW -->
      <div class="aboutUs">
          <h4 style="color: rgba(255, 153, 0, 1);"><b>Tim FSW</b></h4><br>
          
          <!-- baris 1 -->
          <!-- bio 1 -->
          <div class="row">
              <div class="col-6">
                  <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="../assets/fototim/rafi.jpeg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
                    </div>
                    <div class="flex-grow-1 ms-3" style="color: white;">
                        <p style="font-size: 24px;"><b>Moch Rafi Adnan Setiadipura</b></p>
                        <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">mochraafi</span><br>
                        <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="https://www.linkedin.com/in/mochrafias/">https://www.linkedin.com</a></span>
                    </div>
                    </div>
              </div>
              <!-- bio 2 -->
              <div class="col-6">
                  <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="../assets/fototim/Cindy.jpeg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
                    </div>
                    <div class="flex-grow-1 ms-3" style="color: white;">
                        <p style="font-size: 24px;"><b>Pricillia Cindy</b></p>
                        <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">pricilliacindyy</span><br>
                        <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="https://www.linkedin.com/in/pricillia-cindy-b00249196/">https://www.linkedin.com</a></span>
                    </div>
                    </div>
              </div>
          </div> <br><br>

          <!-- baris 2 -->
          <!-- bio 1 -->
          <div class="row">
              <div class="col-6">
                  <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="../assets/fototim/arras.jpg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
                    </div>
                    <div class="flex-grow-1 ms-3" style="color: white;">
                        <p style="font-size: 24px;"><b>Mohammed Arras Adazim</b></p>
                        <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">arasaladzim_</span><br>
                        <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="https://www.linkedin.com/in/mohammed-arras-adazim/">https://www.linkedin.com</a></span>
                    </div>
                    </div>
              </div>
              <!-- bio 2 -->
              <div class="col-6">
                  <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="../assets/fototim/dei.jpg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
                    </div>
                    <div class="flex-grow-1 ms-3" style="color: white;">
                        <p style="font-size: 24px;"><b>Daniella Deilova</b></p>
                        <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">deiaiko</span><br>
                        <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a">-</span>
                    </div>
                    </div>
              </div>
          </div> <br><br>

          <!-- baris 3 -->
          <!-- bio 1 -->
          <div class="row">
              <div class="col-6">
                  <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="../assets/fototim/TEDDY.JPG" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
                    </div>
                    <div class="flex-grow-1 ms-3" style="color: white;">
                        <p style="font-size: 24px;"><b>Teddy Koes Endra B</b></p>
                        <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">@koesendrabakti</span><br>
                        <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="https://www.linkedin.com/in/teddy-koes-endra-bakti-a50419226/">https://www.linkedin.com</a></span>
                    </div>
                    </div>
              </div>
              <!-- bio 2 -->
              <div class="col-6">
                  <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="../assets/fototim/Rizky.jpg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
                    </div>
                    <div class="flex-grow-1 ms-3" style="color: white;">
                        <p style="font-size: 24px;"><b>Muhammad Rizky Wisesar</b></p>
                        <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">r_wisesar</span><br>
                        <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="https://www.linkedin.com/in/rizky-wisesar-a19882225">https://www.linkedin.com</a></span>
                    </div>
                    </div>
              </div>
          </div> <br><br>

          <!-- baris 4 -->
          <!-- bio 1 -->
          <div class="row">
              <div class="col-6">
                  <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="../assets/fototim/dheka.jpg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
                    </div>
                    <div class="flex-grow-1 ms-3" style="color: white;">
                        <p style="font-size: 24px;"><b>Ramadheka Ardian Perkasa</b></p>
                        <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">@dekatm7</span><br>
                        <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="https://www.linkedin.com/in/ramadheka-ardianperkasa-5152a5226">https://www.linkedin.com</a></span>
                    </div>
                    </div>
              </div>
              <!-- bio 2 -->
              <div class="col-6">
                  <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="../assets/fototim/Shinta.jpeg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
                    </div>
                    <div class="flex-grow-1 ms-3" style="color: white;">
                        <p style="font-size: 24px;"><b>Shinta Amyrul Pebria</b></p>
                        <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">@shintaapz</span><br>
                        <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="http://linkedin.com/in/shinta-amyrul-pebria-79ba55192">http://linkedin.com</a></span>
                    </div>
                    </div>
              </div>
          </div> <br><br>

          <!-- baris 5 -->
          <!-- bio 1 -->
          <div class="row">
              <div class="col-6">
                  <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="../assets/fototim/akram.jpg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
                    </div>
                    <div class="flex-grow-1 ms-3" style="color: white;">
                        <p style="font-size: 24px;"><b>Abdullah Akram</b></p>
                        <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">@abdullahakram01</span><br>
                        <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="https://www.linkedin.com/in/abdullah-akram-a47929209/">https://www.linkedin.com</a></span>
                    </div>
                    </div>
              </div>
              <!-- bio 2 -->
              <div class="col-6">
                  <div class="d-flex align-items-center">
                      <div class="flex-shrink-0">
                        <img src="../assets/fototim/reza.jpeg" alt="rama"  class="rounded-circle" style="width: 95px; height: 90px;">
                    </div>
                    <div class="flex-grow-1 ms-3" style="color: white;">
                        <p style="font-size: 24px;"><b>Rezza Vinola Nur Diana Ifani</b></p>
                        <img src="../assets/logoinstagram.png" alt="ig" style="width: 25px;margin-right : 6px;"><span class="a">@rezafinola</span><br>
                        <img src="../assets/logolink.png" alt="link" style="width: 25px;margin-right : 6px;"><span class="a"><a href="www.linkedin.com/in/rezza-vinola">www.linkedin.com</a></span>
                    </div>
                    </div>
              </div>
          </div> <br><br>

      </div>
  </div>
