<div class="row">
    <div class="col-3 sidebar">
    </div>

    <div class="col-9 p-4">
        <h2><b>Update Video</b></h2>

        <p>Section</p>
        <div class="">
            <button type="button" id="btn1" class="btn" onclick="videoupdate()"><b>Highlight</b></button>
            <button type="button" id="btn2" class="btn" onclick="videoPilihanEditor()"><b>Pilihan Editor</b></button>
            <button type="button" id="btn3" class="btn" onclick="videoInterviewMoments()"><b>Interview Moments</b></button>
        </div> <br>

        <!-- Bagian Video Update Highlight -->
        <div id="videoupdate">
            <div class="d-flex">
                <div>
                    <p>Embed Video</p>
                    <textarea class="form-control textarea" rows="5" name="text" style="width: 430px; margin-right: 10px;"></textarea>
                </div>
            
                <div style="margin-right: 10px;">
                    <p>Tuliskan Tag</p>
                    <textarea class="form-control textarea" rows="5" name="text"></textarea>
                </div>
            
                <div>
                    <p>Kategori</p>
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"><b>Kategori</b></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Asia</a>
                    <a class="dropdown-item" href="#">Barat</a>
                    <a class="dropdown-item" href="#">Indonesia</a>
                </div>
                </div> 
            </div> <br>
            
            <div>
                <p>Judul</p>
                <textarea class="form-control textarea" rows="3" name="text" style="width: 750px; height: 80px;"></textarea>
            </div> <br>
            
            <div>
                <p>Deskripsi Singkat</p>
                <textarea class="form-control textarea" rows="3" name="text" style="width: 750px; height: 120px;"></textarea>
            </div>
        </div>

        <!-- Bagian Video Update Pilihan Editor -->
        <div id="videopilihaneditor">
            <div class="d-flex">
                <div>
                    <p>Embed Video</p>
                    <textarea class="form-control textarea" rows="5" name="text" style="width: 430px; margin-right: 10px;"></textarea>
                </div>
            
                <div style="margin-right: 10px;">
                    <p>Tuliskan Tag</p>
                    <textarea class="form-control textarea" rows="5" name="text"></textarea>
                </div>
            
                <div>
                    <p>Kategori</p>
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"><b>Kategori</b></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Asia</a>
                    <a class="dropdown-item" href="#">Barat</a>
                    <a class="dropdown-item" href="#">Indonesia</a>
                </div>
                </div> 
            </div> <br>
            
            <div>
                <p>Judul</p>
                <textarea class="form-control textarea" rows="3" name="text" style="width: 750px; height: 80px;"></textarea>
            </div> <br>
            
            <div>
                <p>Deskripsi Singkat</p>
                <textarea class="form-control textarea" rows="3" name="text" style="width: 750px; height: 120px;"></textarea>
            </div>
        </div>

        <!-- Bagian Video Update Video Interviews -->
        <div id="videointerview">
            <div>
                <p>Pilih Film <span style="color: red; font-size: 11px; margin-left: 15px;">*Maksimal 3 Film, Hapus salah satu.</span></p>
                <div class="d-flex">
                    <button type="button" class="btn1 bg-black" style="border-radius: 8px; width: 100px; height: 40px; color: white; margin-right: 10px;">Buat Baru</button>
                    <button type="button" class="btn2 btn-secondary" style="width: 80px; height: 40px; border-radius: 8px;"><img src="../assets/delete.png" alt="dlt" style="width: 25px;"></button>
                </div> 
            </div> <br> 
            
            <div class="d-flex">
                <div>
                    <p>Judul Film</p>
                </div>
            </div>
            
            <!-- List Film -->
            <div class="d-flex">
                <button class="btn"><span class="badge">Spiderman</span></button>
                <button class="btn"><span class="badge">Layangan Putus</span></button>
                <button class="btn"><span class="badge">Start Up</span></button>
            </div> <br>
            
            <div class="d-flex">
                <div>
                    <p>Embed Video</p>
                    <textarea class="form-control textarea" rows="5" name="text" style="width: 430px; margin-right: 10px;"></textarea>
                </div>
            
                <div style="margin-right: 10px;">
                    <p>Tuliskan Tag</p>
                    <textarea class="form-control textarea" rows="5" name="text"></textarea>
                </div>
            
                <div>
                    <p>Kategori</p>
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"><b>Kategori</b></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Asia</a>
                    <a class="dropdown-item" href="#">Barat</a>
                    <a class="dropdown-item" href="#">Indonesia</a>
                </div>
                </div> 
            </div> <br>
            
            <div>
                <p>Judul</p>
                <textarea class="form-control textarea" rows="3" name="text" style="width: 750px; height: 80px;"></textarea>
            </div> <br>
            
            <div>
                <p>Deskripsi Singkat</p>
                <textarea class="form-control textarea" rows="3" name="text" style="width: 750px; height: 120px;"></textarea>
            </div>
            
            </div>
        </div>
    </div>


    <script>
        function videoupdate(){
            var x = document.getElementById("videoupdate");
            var y = document.getElementById("videopilihaneditor");
            var z = document.getElementById("videointerview");
            x.style.display = "block"
            y.style.display = "none"
            z.style.display = "none"
        }

        function videoPilihanEditor(){
            var x = document.getElementById("videoupdate");
            var y = document.getElementById("videopilihaneditor");
            var z = document.getElementById("videointerview");
            x.style.display = "none"
            y.style.display = "block"
            z.style.display = "none"
        }

        function videoInterviewMoments(){
            var x = document.getElementById("videoupdate");
            var y = document.getElementById("videopilihaneditor");
            var z = document.getElementById("videointerview");
            x.style.display = "none"
            y.style.display = "none"
            z.style.display = "block"
        }
    </script>
    
    
</div>