<div class="banner-berita-asia">
  <% if(page === 'Asia'){ %>
  <img src="/assets/Banner Berita Asia.png" alt="vector" style=" width: 100%;">
  <% } else if(page==='Barat') { %>
  <img src="/assets/Banner_Berita_Barat.png" alt="vector" style=" width: 100%;">
  <% }else{ %>
  <img src="/assets/Banner_Berita_Indonesia.png" alt="vector" style=" width: 100%;">
  <% } %>
</div>