<% if(data) { %>
<div class="Container1">
  <div class="Thumbnail">
    <img src="<%= data.bannerBerita %>" style="border-radius:10px;">
    <div class="card-berita-partials">
      <h1><a href="/detailBerita/<%= data.judulBerita.replace(/\s+$/, '').split(' ').join('-') %>"><%= data.judulBerita %></a></h1>
    </div>
  </div>
</div>
<% } %>