<div class="breadcrumbs">
  <ul class="breadcrumb">
    <li><a href="/" style="color: black; text-decoration: none; font-style: normal; font-weight: 600;font-size: 14px; line-height: 24px;">Homepage</a></li>
    <li><a href="#" style="color: #8D8D8D; text-decoration: none; font-style: normal; font-weight: 500; font-size: 14px; line-height: 24px;"><%= data.judulBerita %></a></li>
  </ul>
</div>