<div class="flex-container">
  <div class="kategori">
    <p>Kategori :</p>
    <a id="all" class="<%= page === 'home' ? 'active' : ''  %>">Semua</a>
    <a id="asia" class="<%= page === 'Asia' ? 'active' : ''  %>">Asia</a>
    <a id="barat" class="<%= page === 'Barat' ? 'active' : ''  %>">Barat</a>
    <a id="indonesia" class="<%= page === 'Indonesia' ? 'active' : ''  %>">Indonesia</a>
  </div>
  <script>
    $(document).ready(function() {
      const locations = window.location.href;
      var linkAll = $("#all")
      var linkAsia = $("#asia")
      var linkBarat = $("#barat")
      var linkIndonesia = $("#indonesia")

      if (locations.includes("/movienews")) {
        linkAll.attr("href", "/movienews");
        linkAsia.attr("href", "/movienews/kategori/Asia");
        linkBarat.attr("href", "/movienews/kategori/Barat");
        linkIndonesia.attr("href", "/movienews/kategori/Indonesia");
      } else if (locations.includes("/serialnews")) {
        linkAll.attr("href", "/serialnews");
        linkAsia.attr("href", "/serialnews/kategori/Asia");
        linkBarat.attr("href", "/serialnews/kategori/Barat");
        linkIndonesia.attr("href", "/serialnews/kategori/Indonesia");
      } else if (locations.includes("/video")) {
        linkAll.attr("href", "/video");
        linkAsia.attr("href", "/video/kategori/Asia");
        linkBarat.attr("href", "/video/kategori/Barat");
        linkIndonesia.attr("href", "/video/kategori/Indonesia");
      } else {
        linkAll.attr("href", "/");
        linkAsia.attr("href", "/kategori/Asia");
        linkBarat.attr("href", "/kategori/Barat");
        linkIndonesia.attr("href", "/kategori/Indonesia");
      }
    })
  </script>
</div>