<div class="flex-container">
    <div class="side-kiri">
        <div class="paragraf">
            <p style="font-family: Poppins; font-style: normal; font-weight: 300; font-size: 16px; line-height: 10px; color:grey; margin-bottom: 30px;">Hi Semua!</p>
            <p style="font-family: Poppins; font-style: normal; font-weight: 400; font-size: 25px; line-height: 40px; font-weight: bold; margin-bottom: 30px;">Jangan sungkan untuk menghubungi <br>kami, klik Email dibawah!</p>
            <p><a href="hallohubungikami@gmail.com" style="color: #f8a01b; font-style: normal; font-weight: bold; font-size: 28px; line-height: 26px ;margin-bottom: 30px;">hallohubungikami@gmail.com</a></p>
        </div>
    </div>
    <div class="side-kanan">
        <div class="banner">
            <img src="../assets/Banner_ContactUS.png" style="width: 100%; height: 100%; border-top-right-radius: 2%; border-bottom-right-radius: 2%;">
        </div>
    </div>
</div>