<footer class="footer-filmen d-flex align-items-center">
  <div class="logo-information">
    <img src="/assets/FILMEN white.png" alt="logo" style="width: 120px; height: 100%;">
    <div class="footer-informasi">
      <p>Information</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/aboutus">About Us</a></li>
        <li class="list-inline-item"><a href="/privacy-policy">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-feedback">
    <a href="/feedback" type="button" class="btn btn-light" style="border-radius: 30px; font-size: 13px;"><b>Feedback</b></a>
    <img src="/assets/c.png" alt="c" style="width: 30px; opacity: 75%; padding-left: 20px;"><span> 2021 Filmen.com All Rights Reserved</span>
  </div>
</footer>