<input type="text" name="" hidden id="idBerita" value="<%= data.id %>">
<div class="containerBesar">
  <div class="containerBesar-inner">
    <a href="/detailBerita/<%= data.judulBerita.replace(/\s+$/, '').split(' ').join('-') %>">
      <img src=" <%= data.bannerBerita %>" alt="img-thumbnail" class="gambar-thumbnail" />
    </a>
    <div class="deskripsi-thumbnail">
      <p class="title" id="title-<%= data.id %>"><a href="/detailBerita/<%= data.judulBerita.replace(/\s+$/, '').split(' ').join('-') %>"> <%= data.judulBerita %></a></p>
      <div class="icon-container-detail">
        <p1 class="kategori-berita">
          <%= data.isMovieNews ? "Movie News" : "Serial News" %>
        </p1>
        <div class="icon-mini-headline" action="/Like" method="post">
          <div class="icon-detail">
            <span id="icon2"><img id="lihat" width="30" src="/assets/lihat.png" alt=""></span>
            <span id="count2"><%= data.jumlahLihat %></span>
          </div>
          <div class="icon-detail">
            <span id="icon3"><img id="comment" width="30" src="/assets/comment.png" alt=""></span>
            <span id="count3"><%= data.jumlahKomen %></span>
          </div>
          <div class="icon-detail">
            <span id="icon"><img id="like" width="30" src="/assets/bf_like.png" alt=""></span>
            <span id="count"><%= data.jumlahLike %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="body-film">
      <p class="text-body-film">
        <%= data.isiBerita %>
      </p>
    </div>
  </div>
</div>