<style>
  .modal-subscribe-container.modal-dialog {
    justify-content: center;
    margin: auto;
  }

  .modal-subscribe-container .modal-body {
    height: 600px;
    width: 700px;
  }

  .modal-subscribe-container .modal-content {
    width: unset;
  }

  .modal-dialog {
    width: 600px;
    height: 450px;
    font-family: 'poppins';
    border-radius: 20px;
  }

  .modal-content {
    background-color: transparent;
    border: none;
  }

  .modal-body-modal {
    text-align: center;
    color: white;
    position: relative;

  }

  .panah-subscribe {
    position: absolute;
    left: 25%;
    bottom: -15%;
  }

  .caption {
    background-color: rgb(34, 34, 34);
    width: 230px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .caption p {
    margin: 0;
  }

  .modal-subscribe-container span {
    color: rgb(255, 187, 0);
  }

  .btn1 {
    width: 120px;
    height: 30px;
  }

  .modal-subscribe-container .modal-body-2 {
    width: 800px;
  }

  .back-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .back-icon p {
    margin: 0;
    color: white;
  }

  .modal-subscribe-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    height: 100%;
  }

  .subscribe-2-image {
    position: relative;
    height: 100%;
    display: flex;
  }

  .subscribe-2-image p {
    font-size: 52px;
    color: #ff9900;
    font-weight: 700;
    padding-top: 40px;
    margin: 0%;
    text-align: center;
  }

  .subscribe-2-image img {
    position: absolute;
    width: 100%;
    bottom: 0%;
  }

  .modal-subscribe-2 form {
    height: 100%;
  }

  .subscribe-2-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #242424;
    border-radius: 15px;
    padding: 40px;
  }

  .subscribe-2-form p {
    text-align: center;
    font-size: 18px;
  }

  .subscribe-2-form .fullname-subscribe,
  .subscribe-2-form .email-subscribe {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form-inner {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .subscribe-2-form label {
    text-align: left;
    font-size: 16px;
    color: #8D8D8D;
  }

  .form-inner input {
    padding: 15px;
    border-radius: 34px;
    background-color: #121212;
    color: #8D8D8D;
    font-size: 12px;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .form-inner input:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  #submit-subscribe {
    margin-top: 25px;
    border-radius: 22.5px;
    background-color: #3D3D3D;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    padding: 6px 40px;
    transition: 0.5s ease;
  }

  #submit-subscribe:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  #submit-subscribe:hover {
    background-color: #5a5a5a;
  }

  .caption button a {
    color: #242424;
    text-decoration: none;
  }
</style>
<div class="container-header">
  <div class="logo">
    <img src="/assets/FILMEN white.png">
  </div>
  <div class="navigation">
    <a class="<%= page == 'home' ? 'active' : 'idle'  %>" href="/">Home</a>
    <a class="<%= page == 'video' ? 'active' : 'idle' %>" href="/video">Video</a>
    <a class="<%= page == 'movienews' ? 'active' : 'idle' %>" href="/movienews">Movie News</a>
    <a class="<%= page == 'serialnews' ? 'active' : 'idle' %>" href="/serialnews">Serial News</a>
  </div>
  <form class="search_bar" action="/search" method="get">
    <input type="text" onkeypress="onEnter(event)" autocomplete="false" id="input-search" placeholder="Search...">
    <button type="button" id="btn-search" class="search_button"><img src="/assets/akar-icons_search.png" class="search_icon"></button>
  </form>
  <a class="link subscribe" data-bs-toggle="modal" id="btn-subscribe">Subscribe</a>
  <a class="link contact" href="/contactus">Contact Us</a>
</div>
<%- include('./popUp.ejs') %>
<script>
  $(document).ready(function() {
    var token = localStorage.getItem("Token");
    var isSubscribe = localStorage.getItem("isSubscribe");
    $("#btn-search").click(function(event) {
      event.preventDefault();
      const inputSearch = $("#input-search").val();
      window.location.replace(`/search/${inputSearch.replace(/\s+$/, '').split(' ').join('-')}`)
    });
    $("#btn-subscribe").click(function(event) {
      event.preventDefault();
      if (token) {
        $('#subscribe').modal('show');
      } else {
        $('#login').modal('show');
      };
    })
    onEnter = (event) => {
      const inputSearch = $("#input-search").val();
      if (event.keyCode == 13) {
        event.preventDefault();
        console.log(inputSearch);
        window.location.replace(`/search/${inputSearch.replace(/\s+$/, '').split(' ').join('-')}`)
      }
    }

    // if (isSubscribe === 'false') {
    //   $("#btn-subscribe").text("Subscribe")
    //   $("#btn-subscribe").addClass("unsubscribe")
    // } else {
    //   $("#btn-subscribe").text("Subscribe")
    // }

    // if ($('#btn-subscribe').text("Unsubscribe")) {
    //   $("#btn-subscribe").prop("data-bs-target", "#unsubscribe");
    // }
  });
</script>