<h2 style="margin-top: 30px; margin-bottom: 30px; font-size: 26px; font-weight: 600;">Komentar</h2>
<!-- <input type="text" hidden value="<%= typeof data.comments.users != 'undefined' ? data.comments.users.fullname : '' %>" name="" id="fullname"> -->
<div class="row">
  <div class="col">
    <div class="box-komentar" id="list-comment">
      <div id="isi-komentar">
        <% if(dataKomen.length !== 0) { %>
        <% dataKomen.map((berita)=>{ %>
        <div class="card-subtext">
          <div class="comment-detail">
            <img src="/assets/favicon.png" class="profile-comment">
            <div class="comment-text">
              <h5 style="font-weight: bold;" class="subtext"><%= berita.user.fullname %></h5>
              <h5 style="font-size: 12px; font-style: italic; color:#8D8D8D;" class="text-justify mb-0"><%= berita.isiKomen %>
            </div>
            </h5>
            <h5 style="color:#8D8D8D; text-align: left; font-size: 12px;" class="date-comment"><%= berita.tanggalKomen %></h5>
          </div>
        </div>
        <% }) }%>
      </div>
      <form action="/detailBerita/<%= data.judulBerita.replace(/\s+$/, '').split(' ').join('-') %>" method="post">
        <div class="input-komentar">
          <div class="input-group input-group-sm flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"><img src="/assets/favicon.png" class="profile-comment"></span>
            <input type="text" class="form-control" name="komentar" id="comment-box" placeholder="Beri Komentar Anda Disini...">
          </div>
          <button type="submit" class="btn btn-primary" id="post">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  var token = localStorage.getItem("Token")
  var fullname = localStorage.getItem("fullname");
  var idUser = localStorage.getItem("idUser");
  const idBerita = "<%= data.id %>"
  const judulBerita = "<%= data.judulBerita %>"

  $('#post').click(function(event) {
    event.preventDefault();
    const commentBoxValue = $("#comment-box").val().trim();
    if (commentBoxValue !== "" && commentBoxValue !== null && token) {
      var element = `<div class="card-subtext">
            <div class="comment-detail">
              <img src="/assets/favicon.png" class="profile-comment">
              <div class="comment-text">
                <h5 style="font-weight: bold;" class="subtext">${fullname}</h5>
                <h5 style="font-size: 12px; font-style: italic; color:#8D8D8D;" class="text-justify mb-0">“${commentBoxValue}”
              </div>
              </h5>
              <h5 style="color:#8D8D8D; text-align: left; font-size: 12px;" class="date-comment"></h5>
            </div>
          </div> `;
      $('#isi-komentar').append(element).show("slow");
      $('#count3').html(parseInt($('#count3').html(), 10) + 1)
      $.ajax({
        URL: `/detailBerita/${judulBerita.replace(/\s+$/, '').split(' ').join('-')}`,
        method: "POST",
        data: {
          idUser: idUser,
          idBerita: idBerita,
          komen: commentBoxValue
        },
      }).done((data) => {
        console.log(data);
      });
      $("#comment-box").val('');
    } else {
      if (commentBoxValue !== "" && commentBoxValue !== null) {
        $('#login').modal('show');
        $("#comment-box").val("");
      }
    }
  })
</script>