<style>
  .profile-picture {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
  }

  .btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-radius: 22.5px;
    width: 100%;
    padding: 5px 20px;
    border: 1px solid rgba(52, 58, 64, 0.75);
    font-size: 14px;
  }

  .btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    width: 100%;
    border-radius: 22.5px;
    padding: 5px 20px;
    border: 1px solid rgba(52, 58, 64, 0.75);
    font-size: 14px;
  }

  .card.card-login {
    height: 200px;
    padding: 20px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
  }

  .card-body {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .card-login.card-after-login {
    height: 250px;
  }

  .card-after-login .card-body {
    gap: 20px;
    justify-content: center;
    overflow-wrap: anywhere;
    text-align: center;
  }

  #subscribe-panel {
    background: #FF9900;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 14px;
    transition: 0.5s ease;
    color: white;
  }

  #subscribe-panel:hover {
    background-color: #d17d00;
    cursor: pointer;
  }

  #logout-panel {
    color: #8D8D8D;
    font-size: 12px;
    transition: 0.5s ease;
  }

  #logout-panel:hover {
    color: #FF9900;
    cursor: pointer;
  }

  @media screen and (min-width:1600px) {
    .profile-picture {
      width: 52px;
      height: 52px;
    }

    .card.card-login {
      height: 255px;
    }

    .btn-outline-dark,
    .btn-dark {
      padding: 6px 40px;
    }
  }
</style>
<div class="card card-login">
  <div class="d-flex justify-content-center">
    <img src="/assets/favicon.png" class="d-block profile-picture" alt="button">
  </div>
  <div class="card-body" id="card-login-inner">
  </div>
</div>
<script>
  $(document).ready(function() {
    var token = localStorage.getItem("Token")
    var cardBody = $("#card-login-inner")
    var fullname = localStorage.getItem("fullname");
    var email = localStorage.getItem("email");
    var isSubscribe = localStorage.getItem("isSubscribe");
    var elementLogin = `<div class="d-flex justify-content-center">
      <a href="/login" class="btn btn-outline-dark">Login</a>
    </div>
    <div class="d-flex justify-content-center">
      <a href="/register" class="btn btn-dark">Sign Up</a>
    </div>`
    var elementAfter = `
    <div class="d-flex align-items-center flex-column justify-content-center">
      <p style="font-size: 14px; margin-bottom:8px">${fullname}</p>
      <p style="margin: 0; font-size: 12px;">${email}</p>
    </div>
    <div class="d-flex align-items-center flex-column justify-content-center">
      <a data-bs-toggle="modal" data-bs-target="#subscribe" id="subscribe-panel" style="margin-bottom:16px;">Subscribe</a>
      <a href="/" id="logout-panel">Log Out</a>
    </div>`
    if (token) {
      $('#card-login-inner').empty();
      $('.card-login').addClass("card-after-login")
      $('#card-login-inner').append(elementAfter);
      $('#logout-panel').click(() => {
        localStorage.clear();
        window.location.reload();
      })
      // if (isSubscribe === 'false') {
      //   $("#subscribe-panel").text("Unsubscribe")
      //   $("#subscribe-panel").addClass("unsubscribe")
      // }
      // if ($('#subscribe-panel').text("Unsubscribe")) {
      //   $("#subscribe-panel").prop("data-bs-target", "#unsubscribe");
      // }
    } else {
      $('#card-login-inner').append(elementLogin);
    }


  })
</script>