<input type="text" name="" hidden id="idBerita" value="<%= data.id %>">
<div class="containerBesar">
  <div class="containerBesar-inner">
    <a href="/detailBerita/<%= data.judulBerita.replace(/\s+$/, '').split(' ').join('-') %>">
      <img src=" <%= data.bannerBerita %>" alt="img-thumbnail" class="gambar-thumbnail" />
    </a>
    <div class="mini-thumbnail deskripsi-thumbnail">
      <p class="title" id="title-<%= data.id %>"><a href="/detailBerita/<%= data.judulBerita.replace(/\s+$/, '').split(' ').join('-') %>"> <%= data.judulBerita %></a></p>
      <div class="mini-headline">
        <p1 class="kategori-berita">
          <%= data.isMovieNews ? "Movie News" : "Serial News" %>
        </p1>
        <div class="icon-mini-headline" action="/Like" method="post">
          <div class="icon-detail">
            <span id="icon2"><img id="lihat" width="30" src="/assets/lihat.png" alt=""></span>
            <span id="count2"><%= data.jumlahLihat %></span>
          </div>
          <div class="icon-detail">
            <span id="icon3"><img id="comment" width="30" src="/assets/comment.png" alt=""></span>
            <span id="count3"><%= data.jumlahKomen %></span>
          </div>
          <div class="icon-detail">
            <span id="icon"><img id="like" width="30" src="/assets/bf_like.png" alt=""></span>
            <span id="count"><%= data.jumlahLike %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="body-film">
      <p class="text-body-film">
        <%= data.isiBerita %>
      </p>
    </div>
  </div>
</div>
<script>
  var token = localStorage.getItem("Token");
  $(document).ready(function() {
    $('.icon-detail').click(function() {
      $("#like").attr("src").replace('/assets/bf_like.png', '/assets/af_like.png')
    });
  });
  // var actOnPost = function(event) {
  //   $()
  //   // if (token) {
  //   console.log(postId);
  //   var postId = event.srcElement.id;
  //   toggleButtonText.Like(postId);
  // } else {
  //   $('#login').modal('show');
  // }
  // var judulBerita = document.getElementById("card-title").innerText;
  // $.ajax({
  //   URL: `/${judulBerita}/like`,
  //   method: "POST",
  //   data: {
  //     idBerita: postId,
  //     idUser: localStorage.getItem("idUser"),
  //   },
  // });
  // };
</script>