<% if(data){ %>
<a href="/detailBerita/<%= data.judulBerita.replace(/\s+$/, '').split(' ').join('-') %>" class="thumbnail-card-link">
  <div class="container_movienewslainnya">
    <div class="container_news">
      <img src=" <%= data.bannerBerita %>" alt="img-thumbnail" class="news" />
      <p><%= data.judulBerita %></p>
    </div>
    <!-- <img class="next" src="../assets/fluent_chevron-double-left-16-filled.png" href=""> -->
  </div>
</a>
<% } %>