<!-- The Modal -->
<div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-subscribe-container" style="display: flex;">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body bg-black" style="border-radius: 10px;">
        <div align="right">
          <img src="/assets/closeIcon.png" alt="close" width="50px" style="text-align: right;" class="btn" data-bs-dismiss="modal">
        </div>
        <div class="modal-body-modal">
          <b style="font-size: 25px; padding-top: 10px;">Hey, Selamat anda beruntung!</b><br><br>
          <div style="font-size: 13px; line-height: 3px;">
            <p>Dengan klik tombol subscribe, kamu akan mendapatkan fitur<br>
            <p>menarik dari kami lho. <span>Buruan!!!</span> </p>
          </div>
          <div class="d-flex justify-content-around align-items-center" style="text-align: left; margin-top: 50px;">
            <div class="p-2"><img src="/assets/amico.png" alt="logo" width="250px"></div>
            <div class="p-2">
              <div class="caption" style="border-radius: 15px; text-align: center;">
                <p style="font-size: 16px; text-align: center;"><b>Klik Sekarang</b></p>
                <img src="/assets/garis.png" alt="gariswkwk" style="width: 200px; height: 10px; opacity: 50%;">
                <div style="text-align: center;">
                  <button type="button" class="btn1 btn-light" data-bs-target="#subscribe2" data-bs-toggle="modal" style="border-radius: 25px; font-size: 14px;"><b>Subscribe</b></button>
                </div>
              </div>
            </div>
          </div>
          <img class="panah-subscribe" src="/assets/Panah.png" alt="logo1" width="250px" style="text-align: left;">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="subscribe2">
  <div class="modal-dialog modal-dialog-centered modal-subscribe-container" style="display: flex;">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body bg-black modal-body-2" style="border-radius: 10px;">
        <div align="left" class="back-icon">
          <img src="/assets/backIcon.png" alt="close" width="50px" style="text-align: left;" class="btn" data-bs-toggle="modal" data-bs-target="#subscribe">
          <p>Kembali</p>
        </div>
        <div class="modal-body-modal" style="height: 90%;">
          <div class="modal-subscribe-2">
            <div class="subscribe-2-image">
              <p>Subscribe</p>
              <img src="/assets/illustrasi.png" alt="illustrasi">
            </div>
            <form action="/subscribe" method="post">
              <div class="subscribe-2-form">
                <p>Silahkan isi form terlebih dahulu</p>
                <div class="form-inner">
                  <div class="fullname-subscribe">
                    <label class="label">Nama Lengkap</label>
                    <input type="text" name="fullname" id="fullname" placeholder="Masukan nama lengkap">
                  </div>
                  <div class="email-subscribe">
                    <label class="label">Email</label>
                    <input type="text" name="email" id="email" placeholder="Masukan nama lengkap">
                  </div>
                </div>
                <button type="button" id="submit-subscribe">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="login">
  <div class="modal-dialog modal-dialog-centered modal-subscribe-container" style="display: flex;">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body bg-black" style="border-radius: 10px;">
        <div align="right">
          <img src="/assets/closeIcon.png" alt="close" width="50px" style="text-align: right;" class="btn" data-bs-dismiss="modal">
        </div>
        <div class="modal-body-modal">
          <div style="font-size: 18px; padding: 0px 20px; margin-top: 20px;">
            <p>Untuk membuka fitur ini,
              Silahkan daftar terlebih dahulu yuk!
              Kamu tinggal klik tombol Sign-Up apabila belum mendaftar</p>
          </div>
          <div class="d-flex justify-content-around align-items-center" style="text-align: left; margin-top: 50px;">
            <div class="p-2"><img src="/assets/locked.png"" alt=" logo" width="250px"></div>
            <div class="p-2">
              <div class="caption" style="border-radius: 15px; text-align: center;">
                <div style="text-align: center;">
                  <button type="button" class="btn1 btn-light" style="border-radius: 25px; font-size: 14px;"><b> <a href="/register"> Sign Up </a></b></button>
                </div>
                <p style="margin: 10px 0px; font-size: 12px;">Sudah punya akun ?</p>
                <div style="text-align: center;">
                  <button type="button" class="btn1 btn-light" style="border-radius: 25px; font-size: 14px;"><b> <a href="/login"> Login</a></b></button>
                </div>
              </div>
            </div>
          </div>
          <img class="panah-subscribe" src="/assets/Panah.png" alt="logo1" width="250px" style="text-align: left;">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="unsubscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-subscribe-container" style="display: flex;">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body bg-black" style="border-radius: 10px;">
        <div align="right">
          <img src="/assets/closeIcon.png" alt="close" width="50px" style="text-align: right;" class="btn" data-bs-dismiss="modal">
        </div>
        <div class="modal-body-modal">
          <b style="font-size: 25px; padding-top: 10px;">Hey, Selamat anda beruntung!</b><br><br>
          <div style="font-size: 13px; line-height: 3px;">
            <p>Dengan klik tombol subscribe, kamu akan mendapatkan fitur<br>
            <p>menarik dari kami lho. <span>Buruan!!!</span> </p>
          </div>
          <div class="d-flex justify-content-around align-items-center" style="text-align: left; margin-top: 50px;">
            <div class="p-2"><img src="/assets/amico.png" alt="logo" width="250px"></div>
            <div class="p-2">
              <div class="caption" style="border-radius: 15px; text-align: center;">
                <p style="font-size: 16px; text-align: center;"><b>Klik Sekarang</b></p>
                <img src="/assets/garis.png" alt="gariswkwk" style="width: 200px; height: 10px; opacity: 50%;">
                <div style="text-align: center;">
                  <button type="button" class="btn1 btn-light" data-bs-target="#subscribe2" data-bs-toggle="modal" style="border-radius: 25px; font-size: 14px;"><b>Subscribe</b></button>
                </div>
              </div>
            </div>
          </div>
          <img class="panah-subscribe" src="/assets/Panah.png" alt="logo1" width="250px" style="text-align: left;">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#submit-subscribe").on('submit', (e) => {
    e.preventDefault();
    var fullname = $("#fullname").val()
    var email = $("#email").val()
    console.log(fullname);
    $.ajax({
      url: "/subscribe",
      method: "POST",
      data: {
        fullname: fullname,
        email: email,
      },
    }).done((data) => {
      console.log(data);
    });
  })
</script>