<!-- Data Target nanti bisa diatur sesuai dengan id pada profile -->
<!-- <div class="container mt-3">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> 
Unsubscribe
</button>
</div> -->

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <p>Apa kamu yakin untuk <br>Unsubscribe?</p>
            </div>

            <!-- Modal Button -->
            <div class="modal-button" style="text-align: center;">
                <button type="button" class="btn btn-dark" style="width: 100px; color:gray; font-weight: bold; border-radius: 22.5px;">Yakin</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal" style="width: 100px;border-radius: 22.5px ">Batalkan</button>
            </div>

        </div>
    </div>
</div>