<!-- Data Target nanti bisa diatur sesuai dengan id pada profile -->
<div class="container mt-3">

    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#popupfeedback"> 
Kirim Masukan
</button>
</div>

<!-- The Modal -->
<div class="modal fade" id="popupfeedback">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <div align="right">
                    <img src="../assets/Iconclose.png" alt="" width="50px" style="text-align: right;" class="btn" data-bs-dismiss="modal">
                </div>
                <img src="../assets/Feedbackpopup.png" alt="" style="width: 100%; height: 100%; border-radius: 2%;">
            </div>
        </div>
    </div>
</div>