<p id="title-share" hidden><%= title %></p>
<div class="flex-container">
  <div class="paragraf">
    <p>Bagikan :</p>
    <div class="icon-container">
      <div class="icon-list">
        <img src="../assets/IC_IG.png" alt="Instagram" class="icon-share">
        <a class="tombol" id="instagram"> Instagram</a>
      </div class="icon-list">
      <div class="icon-list" data-href="https://developers.facebook.com/docs/plugins/">
        <img src="../assets/IC_FB.png" alt="Facebook" class="icon-share">
        <a class="tombol" id="facebook" target="_blank" rel="noopener" aria-label="Facebook">Facebook</a>
      </div class="icon-list">
      <div class="icon-list">
        <img src="../assets/IC_TWT.png" alt="Twitter" class="icon-share">
        <a class="tombol" id="twitter" target="_blank" rel="noopener" aria-label="Twitter">Twitter</a>
      </div class="icon-list">
      <div class="icon-list">
        <img src="../assets/IC_WA.png" alt="Whatsapp" class="icon-share">
        <a class="tombol" id="whatsapp" target="_blank" rel="noopener" aria-label="Share on WhatsApp">Whatsapp</a>
      </div class="icon-list">
    </div>
  </div>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v12.0" nonce="2zsqqK33"></script>
  <script>
    $(document).ready(function() {
      const locations = window.location.href;
      const judul = $("#title-share").text().replace(/\s+$/, "")
        .split(" ")
        .join("-");
      $("#facebook").attr("href", `https://www.facebook.com/sharer/sharer.php?u=${locations}`);
      $("#twitter").attr("href", `https://twitter.com/intent/tweet/?text${judul}&amp;url=${locations}`)
    })
  </script>

</div>
