<div class="card-embed-video white-video">
  <iframe class="card-img-top" width="100%" src="<%= data.link %>" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="card-body-video">
    <h5><%= data.judulVideo %></h5>
    <p><%= data.deskripsi %></p>
  </div>
</div>
