#addBerita {
  padding: 0px 250px;
  font-family: "Poppins";
}
.form-add {
  gap: 20px;
  width: 100%;
}
.form-add-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
.form-add-column,
.form-add-child {
  flex-direction: column;
  display: flex;
  gap: 10px;
  width: 100%;
}

.form-add label {
  color: #ff9900;
}
.form-add input,
.form-add select {
  border-radius: 8px;
  padding: 15px;
  box-shadow: none;
  outline: none;
  border: 2px solid #8d8d8d;
  transition: 0.5s ease;
}

.form-add input:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #ff9900;
}

#editor .ql-editor {
  height: 500px;
  border: 2px solid #8d8d8d;
  font-size: 16px;
  transition: 0.5s ease;
}
#editor .ql-editor:focus {
  border: 2px solid #ff9900;
}
.containerArtikel .ql-toolbar {
  border: 2px solid #8d8d8d !important;
  display: none !important;
}

.btn-container {
  justify-content: space-between;
}
.btn-container button {
  padding: 6px 40px;
  box-shadow: none;
  border: none;
  outline: none;
}
.btn-container .buttonCancel {
  transition: 0.5s ease;
  border-radius: 8px;
  background: #8d8d8d;
  color: white;
}
.btn-container .buttonCancel:hover {
  background: #5e5e5e;
}
.btn-container .buttonUpload {
  transition: 0.5s ease;
  border-radius: 8px;
  background: #ff9900;
  color: white;
}
.btn-container .buttonUpload:hover {
  background: #c47500;
}
.btn-container button:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.error {
  color: rgb(255, 51, 51);
  margin: 0%;
  font-size: 12px;
}

.warning-register {
  width: 100%;
  font-size: 14px;
  text-align: center;
  z-index: 999;
  opacity: 0;
  transition: 0.5s ease;
  display: block;
}
.show {
  opacity: 1;
}

.warning-register ul {
  list-style: none;
}
.warning-register li {
  text-align: left;
}
