h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 58px;
  color: #000000;
}
tbody,
table,
tr {
  width: 100%;
}
th {
  border: 1px solid white;
  text-align: center;
}
.jumlah {
  text-align: center;
  background: #000000;
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.08);
  font-family: Poppins;
  color: white;
  font-size: 14px;
}
.container_tabel {
  height: 65px;
  /* margin-top: 52px;
    margin-bottom: 31px; */
  background: #000000;
  box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
