.sidebar {
  background-color: black;
  color: rgba(255, 153, 0, 1);
  height: 100%;
}
p {
  color: rgba(255, 153, 0, 1);
  font-size: 18px;
}
.btn {
  background-color: #ececec;
  border-radius: 8px;
  margin-right: 10px;
}
.btn:focus {
  background-color: rgba(255, 153, 0, 1);
  color: white;
}
input {
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  color: black;
}
.textarea {
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  color: black;
}
.badge {
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  color: black;
  margin-right: 10px;
  width: 130px;
  height: 40px;
}

.sidebar {
  background-color: black;
  color: rgba(255, 153, 0, 1);
  height: 100%;
}
p {
  color: rgba(255, 153, 0, 1);
  font-size: 18px;
}
.btn {
  background-color: #ececec;
  border-radius: 8px;
  margin-right: 10px;
}
.btn:focus {
  background-color: rgba(255, 153, 0, 1);
  color: white;
}
input {
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  color: black;
}
.textarea {
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  color: black;
}
.badge {
  background-color: #ececec;
  border: none;
  border-radius: 10px;
  color: black;
  margin-right: 10px;
  width: 130px;
  height: 40px;
}
