.backgroundtransparan {
    display: flex;
    position: absolute;
    width: 1920px;
    height: 1080px;
    background: rgba(0, 0, 0, 0.21);
    align-items: center;
    justify-content: center;
}

.containernotif {
    display: flex;
    flex-direction: column;
    width: 514px;
    height: 268px;
    background: #121212;
    box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.pertanyaan {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 38px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #FF9900;
}

.pilihan {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.tombolhapus {
    width: 121px;
    height: 51px;
    background: #8D8D8D;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-right: 92px;
}

.tombolkeep {
    width: 121px;
    height: 51px;
    background: #FF9900;
    border-radius: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}