<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
  <script src="/jquery/jquery.js"></script>
  <link rel="stylesheet" href="/admin/styles/sidebar.css">
  <link rel="stylesheet" href="/admin/styles/content.css">
  <link rel="stylesheet" href="/admin/styles/adminTable.css">

  <title>Admin</title>
</head>

<body>
  <%- include('../component/sidebar.ejs') %>
  <input type="text" hidden id="token" value="<%= typeof messages.token != 'undefined' ? messages.token : '' %>">
  <input type="text" hidden id="isAdmin" value="<%= typeof messages.isAdmin != 'undefined' ? messages.isAdmin : '' %>">
  <div class="content">
    <div id="admintable"><%- include('../component/adminTable.ejs', {berita}) %></div>
  </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    const token = $("#token").val();
    const isAdmin = $("#isAdmin").val();
    localStorage.setItem("Token", token);
    localStorage.setItem("isAdmin", isAdmin);
    // if (localStorage.getItem("Token") === "" || localStorage.getItem("isAdmin") === 'false') {
    //   window.location.replace("/");
    // }
  })
</script>

</html>