<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <script src="/jquery/jquery.js"></script>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
  <link rel="stylesheet" href="/admin/styles/loginReg.css">
  <link rel="stylesheet" href="/styles/default.css">
  <title>Login Admin</title>
  <style>
    label {
      color: rgba(255, 153, 0, 1);
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 35px;
    }

    .form-control {
      background-color: #ECECEC;
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .btn {
      color: white;
      background-color: rgba(255, 153, 0, 1);
      width: 111px;
      height: 41px;
    }
  </style>
</head>

<body class="row">
  <input type="text" hidden value="<%= typeof messages.success_msg != 'undefined' ? messages.success_msg : '' %>" name="" id="sukses">
  <input type="text" hidden value="<%= typeof message != 'undefined' ? message : '' %>" name="" id="error">
  <div class="alert alert-success warning-register" id="sukses-register" role="alert">
    <p style="margin: 0;"><%= typeof messages.success_msg != 'undefined' ? messages.success_msg : '' %></p>
  </div>
  <div class="alert alert-danger warning-register" id="alert-register" role="alert">
    <p style="margin: 0;"><%= typeof message != 'undefined' ? message : '' %></p>
  </div>
  <div class="login-page">
    <div class="container-fluid">
      <div class="login-container admin">

        <div style="text-align: center; color: #ff9900;">
          <h2><b>Login Admin</b></h2>
        </div>
        <form action="/admin/login" method="post">
          <div class="mb-5 mt-3" style="position: relative;">
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" id="email" placeholder="Masukkan Email" name="email">
            <% if((typeof errorsEmail != 'undefined') && errorsEmail[0]) { %>
            <p class="error admin"> <%= errorsEmail[0].message %> </p>
            <% } else { %>
            <p class="error admin"> </p>
            <% } %>
          </div>
          <div class="mb-5 " style="position: relative;">
            <label for="nama"><b>Password</b></label>
            <input type="password" class="form-control" id="pwd" placeholder="Masukkan Password" name="password">
            <% if((typeof errorsPassword != 'undefined') && errorsPassword[0]) { %>
            <p class="error admin"> <%= errorsPassword[0].message %> </p>
            <% } else { %>
            <p class="error admin"> </p>
            <% } %>
          </div>
          <button type="submit" class="btn">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    var token = localStorage.getItem("Token")
    if (token) {
      window.location.replace("/admin");
    }
    const suksesManual = $("#sukses-register");
    const alertManual = $("#alert-register");
    console.log($("#error").val());
    if ($("#sukses").val()) {
      suksesManual.addClass("show");
      setTimeout(() => {
        suksesManual.removeClass("show");
      }, 4000)
    } else if ($("#error").val()) {
      alertManual.addClass("show");
      setTimeout(() => {
        alertManual.removeClass("show");
      }, 2000)
    }
  })
</script>

</html>