<div class="berita-tambah"></div>
<div class="title" style="margin-bottom: 30px;">
  <h2>Upload Video</h2>
</div>
<form>
  <div class="d-flex flex-column form-add">
    <div class="form-add-column judul-berita">
      <label for="judul">Masukkan Judul Video *</label>
      <input class="boxJudul" type="text" id="judulVideo" name="judulVideo" value="<%= data.length === 0 ? '' : data.judulVideo %>" placeholder="Masukkan Judul video" />
    </div>
    <div class="form-add-row upload-gambar">
      <div class="form-add-child">
        <label id="labelUpload" for="Gambar">Link Video(Embeded Youtube) *</label>
        <input value="<%= data.length === 0 ? '' : data.link %>" class="boxUpload" type="text" id="myfile" name="myFile" placeholder="Masukan link video" />
      </div>
    </div>
    <div class="form-add-row">
      <div class="form-add-child">
        <label class="labelKategori" or="kategori">Kategori</label>
        <select class="boxKategori" id="kategori" name="kategori">
          <option value="1">Asia</option>
          <option value="2">Barat</option>
          <option value="3">Indonesia</option>
        </select>
      </div>
      <div class="form-add-child">
        <label class="labelTag" for="tag">Tag Film</label>
        <select class="boxTag" id="tag" name="tag">
          <option value="movie">Movie</option>
          <option value="serial">Serial</option>
        </select>
      </div>
    </div>
    <div class="containerArtikel isi-berita">
      <label class="labelArtikel" for="artikel">Deskripsi Video *</label><br />
      <div id="editor">
        <!-- <label class="labelGamber" for="Gambar">Upload Gambar</label><br /> -->
      </div>
    </div>
    <div class="containerArtikel">
      <p class="notes" style="font-style: italic; color: #8d8d8d;">* Input tidak boleh kosong</p>
    </div>
    <div class="d-flex flex-row btn-container">
      <div class="buttonCancel">
        <button class="buttonCancel">Cancel</button>
      </div>
      <div>
        <button class="buttonUpload" type="submit">Upload</button>
      </div>
    </div>

</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  var quill = new Quill('#editor', {
    theme: 'snow',
    placeholder: "Isi Video Disini..."
  });
  $(document).ready(function() {
    const alertManual = (data) => {
      return `<div class="alert alert-success warning-register" id="sukses-register" role="alert">
            <p style="margin: 0;">${data.message}</p>
          </div>`
    }
    const alertWarning = (data) => {
      return `
      <div class="alert alert-danger warning-register" id="error-register" role="alert">
        <ul style="margin: 0;">
          ${data.data.map(li=> (typeof li[0] === undefined) ? '' : '<li>' + li[0].message  + '</li>').join('')}
        </ul>
      </div>`
    }
    $('.buttonUpload').click(function(event) {
      event.preventDefault();
      var linkVideo = $('#myfile').val()
      var judulVideo = $('#judulVideo').val()
      var idKategori = $('#kategori').val()
      var tag = $('#tag').val()
      var deskripsi;
      var html;
      var contents;
      quill.on('text-change', update);
      update();

      function update(delta) {
        contents = quill.getContents();
        html = "contents = " + JSON.stringify(contents);
        deskripsi = contents.ops[0].insert;
      }
      //untuk post
      $.ajax({
        type: "POST",
        url: '/admin/video/addVideo',
        data: {
          judulVideo,
          linkVideo,
          deskripsi,
          idKategori,
          tag
        },
      }).done(data => {
        if (data.tipe === "error") {
          window.scrollTo(0, 0);
          $(".berita-tambah").append(alertWarning(data))
          $("#error-register").addClass("show");
          setTimeout(() => {
            $("#error-register").removeClass("show");
          }, 2000)
          setTimeout(() => {
            $(".berita-tambah").empty();
          }, 2750);
        } else {
          window.scrollTo(0, 0);
          $(".berita-tambah").append(alertManual(data))
          $("#sukses-register").addClass("show");
          setTimeout(() => {
            $("#sukses-register").removeClass("show");
          }, 2000)
          setTimeout(() => {
            $(".berita-tambah").empty();
          }, 2750);
          $("#myFile").val('');
          $("#judulVideo").val('');
          quill.setText('');
        }
      })
    });

    $('.buttonCancel').click(function(event) {
      event.preventDefault()
      $("#myFile").val('');
      $("#judulVideo").val('');
      quill.setText('');
    })
  });
</script>