<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('.buttonUpload').click(function() {
      var link = $('#link').val()
      var idKategori = $('#idKategori').val()
      var judulVideo = $('#judulVideo').val()
      var deskripsi = $('#deskripsi').val()
      //untuk post
      $.ajax({
        type: "POST",
        url: "http://localhost:3000/adminupdate",
        dataType: "jsonp",
        data: {
          link,
          judulVideo,
          deskripsi,
          idKategori
        },
        success: (data) => {
          console.log(data)
        },
      });
      // console.log(isiberita)
    });
  });
</script>