<div class="modal fade" id="delete<%= data.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Hapus Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Apakah Anda yakin menghapus data berita : <%= data.judulBerita %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Keluar</button>
        <button type="button" id="<%= data.id %>" value="<%= data.judulBerita %>" data-bs-dismiss="modal" class="btn btn-primary deleteItem">Submit</button>
      </div>
    </div>
  </div>
</div>
<script>
  // $(document).ready(function() {
  //   $(".deleteItem").click(function(event) {
  //     event.preventDefault();
  //     $.ajax({
  //       type: "DELETE",
  //       url: `/admin?id=`,
  //       data: {
  //         id: ""
  //       }
  //     }).done((data) => {
  //       console.log(data);
  //       // window.location.reload();
  //     })
  //   });
  // })
</script>