<style>
  .sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }

  .sidebar-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .sidebar-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .sidebar-second {
    margin-bottom: 70px;
  }

  .logo {
    text-align: center;
    padding-top: 70px;
  }

  .btn9 {
    background-color: rgb(49, 50, 50);
    border-radius: 10px 0px 0px 10px;
    color: rgba(255, 153, 0, 1);
    cursor: pointer;
    width: 264px;
    height: 63px;
    text-align: left;
    padding-left: 35px;
    border: none;
  }

  .btn9:hover {
    background-color: white;
    color: #ff9900;
  }

  .btn9 span {
    padding-left: 15px;
    font-size: 16px;
  }
</style>
<div class="sidebar">
  <div class="sidebar-inner">
    <div class="sidebar-main">
      <div class="logo">
        <img src="/assets/FILMEN white.png" style="width: 133px; height: 33px;" />
      </div>
      <div class="c" style="text-align: right;">
        <a href="/admin">
          <button class="btn9">
            <img src="/assets/IC_TABLE.png" style="width: 30px; height: 30px;" /><span><b>Table Berita</b></span>
          </button>
        </a>
      </div>
      <div class="a" style="text-align: right;">
        <a href="/admin/addBerita">
          <button class="btn9">
            <img src="/assets/IC_NEWS.png" style="width: 30px; height: 30px;" /><span><b>Upload Berita</b></span>
          </button>
        </a>
      </div>
      <div class="d" style="text-align: right;">
        <a href="/admin/video">
          <button class="btn9">
            <img src="/assets/IC_TABLE.png" style="width: 30px; height: 30px;" /><span><b>Table Video</b></span>
          </button>
        </a>
      </div>
      <div class="b" style="text-align: right;">
        <a href="/admin/video/addVideo">
          <button class="btn9" onclick="adminupdatevideo()">
            <img src="/assets/IC_VIDEO.png" style="width: 30px; height: 30px;" /><span><b>Upload Video</b></span>
          </button>
          <a href="/admin/video/addVideo">
      </div>
    </div>
    <div class="sidebar-second">
      <div class="c" style="text-align: right;">
        <a href="/admin/login" id="btn-logout">
          <button class="btn9">
            <img src="/assets/IC_LOGOUT.png" style="width: 30px; height: 30px;" /><span><b>Log Out</b></span>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#btn-logout").click((event) => {
      localStorage.clear();
    })
  })
</script>