<div class="berita-tambah"></div>
<div class="title" style="margin-bottom: 30px;">
  <h2>Upload Berita</h2>
</div>
<form>
  <div class="d-flex flex-column form-add">
    <div class="form-add-column judul-berita">
      <label for="judul">Masukkan Judul Berita *</label>
      <input class="boxJudul" type="text" id="judulBerita" name="judulBerita" value="<%= data.length === 0 ? '' : data.judulBerita %>" placeholder="Masukkan Judul berita" />
    </div>
    <div class="form-add-row upload-gambar">
      <div class="form-add-child">
        <label id="labelUpload" for="Gambar">Link Gambar *</label>
        <input value="<%= data.length === 0 ? '' : data.bannerBerita %>" class="boxUpload" type="text" id="myfile" name="myFile" placeholder="Masukan link foto" />
      </div>
      <div class="form-add-child sumber-berita">
        <label id="labelSumber" for="sumber">Sumber Berita *</label>
        <input value="<%= data.length === 0 ? '' : data.sumberBerita %>" class="boxSumber" type="text" id="sumber" name="sumber" placeholder="Masukkan sumber berita" />
      </div>
    </div>
    <div class="form-add-column sinopsis-berita">
      <label class="labelDeskripsi" for="deskripsi-pendek">Sinopsis *</label>
      <input value="<%= data.length === 0 ? '' : data.sinopsis %>" class="boxDeskripsi" type="text" id="sinopsis" name="deskripsiPendek" placeholder="Sinopsis" />
    </div>
    <div class="form-add-column">
      <label class="labelDeskripsi" for="deskripsi-pendek">Soundtrack</label>
      <input value="<%= data.length === 0 ? '' : data.soundtrack %>" class="boxDeskripsi" type="text" id="soundtrack" name="soundtrack" placeholder="Masukan link soundtrack" />
    </div>
    <div class="form-add-row">
      <div class="form-add-child">
        <label class="labelKategori" or="kategori">Kategori</label>
        <select class="boxKategori" id="kategori" name="kategori">
          <option value="1">Asia</option>
          <option value="2">Barat</option>
          <option value="3">Indonesia</option>
        </select>
      </div>
      <div class="form-add-child">
        <label class="labelTag" for="tag">Tag Film</label>
        <select class="boxTag" id="tag" name="tag">
          <option value="movie">Movie</option>
          <option value="serial">Serial</option>
        </select>
      </div>
    </div>
    <div class="containerArtikel isi-berita">
      <label class="labelArtikel" for="artikel">Isi Berita *</label><br />
      <div id="editor">
        <!-- <label class="labelGamber" for="Gambar">Upload Gambar</label><br /> -->
      </div>
    </div>
    <div class="containerArtikel">
      <p class="notes" style="font-style: italic; color: #8d8d8d;">* Input tidak boleh kosong</p>
    </div>
    <div class="d-flex flex-row btn-container">
      <div class="buttonCancel">
        <button class="buttonCancel">Cancel</button>
      </div>
      <div>
        <button class="buttonUpload" type="submit">Upload</button>
      </div>
    </div>

</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  var quill = new Quill('#editor', {
    theme: 'snow',
    placeholder: "Isi Berita Disini..."
  });
  $(document).ready(function() {
    const alertManual = (data) => {
      return `<div class="alert alert-success warning-register" id="sukses-register" role="alert">
            <p style="margin: 0;">${data.message}</p>
          </div>`
    }
    const alertWarning = (data) => {
      return `
      <div class="alert alert-danger warning-register" id="error-register" role="alert">
        <ul style="margin: 0;">
          ${data.data.map(li=> (typeof li[0] === undefined) ? '' : '<li>' + li[0].message  + '</li>').join('')}
        </ul>
      </div>`
    }
    quill.setText(`<%= data.isiBerita %>`);
    $('.buttonUpload').click(function(event) {
      event.preventDefault();
      var bannerBerita = $('#myfile').val()
      var sumberBerita = $('#sumber').val()
      var judulBerita = $('#judulBerita').val()
      var sinopsis = $('#sinopsis').val()
      var idKategori = $('#kategori').val()
      var soundtrack = $('#soundtrack').val()
      var tag = $('#tag').val()
      var isiBerita;
      var html;
      var contents;
      quill.on('text-change', update);
      update();

      function update(delta) {
        contents = quill.getContents();
        html = "contents = " + JSON.stringify(contents);
        isiBerita = contents.ops[0].insert;
      }
      //untuk post
      $.ajax({
        type: "PUT",
        url: '/admin/edit/<%= data.id %>',
        data: {
          isiBerita,
          sinopsis,
          judulBerita,
          sumberBerita,
          bannerBerita,
          idKategori,
          tag
        },
      }).done(data => {
        if (data.tipe === "error") {
          window.scrollTo(0, 0);
          $(".berita-tambah").append(alertWarning(data))
          $("#error-register").addClass("show");
          setTimeout(() => {
            $("#error-register").removeClass("show");
          }, 2000)
          setTimeout(() => {
            $(".berita-tambah").empty();
          }, 2750);
        } else {
          window.scrollTo(0, 0);
          $(".berita-tambah").append(alertManual(data))
          $("#sukses-register").addClass("show");
          setTimeout(() => {
            $("#sukses-register").removeClass("show");
          }, 2000)
          setTimeout(() => {
            $(".berita-tambah").empty();
          }, 2750);
          $("#myFile").val('');
          $("#sumber").val('');
          $("#judulBerita").val('');
          $("#sinopsis").val('');
          $('#soundtrack').val('')
          $('#bannerBerita').val('');
          quill.setText('');
        }
      })
    });

    $('.buttonCancel').click(function(event) {
      event.preventDefault()
      $("#myFile").val('');
      $("#sumber").val('');
      $("#judulBerita").val('');
      $('#soundtrack').val('')
      $("#sinopsis").val('');
          $('#bannerBerita').val('');
      quill.setText('');
    })
  });
</script>