<h4>Table Video</h4>
<table style="width:100%">
  <tr class="container_tabel">
    <th rowspan="2">No</th>
    <th rowspan="2">Judul</th>
    <th rowspan="2">Kategori</th>
    <th rowspan="2">Tipe</th>
    <th rowspan="2" colspan="2">Aksi</th>
  </tr>
  <tr>
    <% video.map((element,index) => { %>
    <%- include('../component/pop-up-delete.ejs', {data:element}) %>
  <tr>
    <td><%= index+1 %></td>
    <td class=" banner"><%= element.judulVideo %></td>
    <td class="judul"><%= element.kategori.namaKategori %></td>
    <td class="tanggal"><%= element.isMovieNews ? 'Movie News' : 'Serial News' %></td>
    <td><a href="/admin/video/edit/<%= element.id %> ">Edit</a></td>
    <td><a data-bs-toggle="modal" data-bs-target="#delete<%= element.id %>">Hapus</a></td>
  </tr>
  <% }); %>
  </tr>
</table>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>