<!DOCTYPE html>
<html>

<head>
  <!--------------------------------------------header--------------------------------------------------------->

  <!----------------------------------------------------------------------------------------------------------->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
  <script src="/jquery/jquery.js"></script>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/contact_us.css">
  <link rel="stylesheet" href="/styles/default.css">
  <link rel="stylesheet" href="/styles/homepage.css">
  <link rel="stylesheet" href="/styles/cssnya.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.css">
  <link rel="stylesheet" href="/assets/font/fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css">

  <title>Filmen</title>
</head>

<body>
  <!----------------------------------------------halaman berita----------------------------------------------->
  <%- include('../components/header.ejs', {page:''}) %>
  <div class="sidebar-common">
    <%- include('../components/loginHomePage.ejs') %>
  </div>
  <div class="contactUs-page">
    <div class="container-fluid px-0 py-5 gy-3">
      <div class="row gx-4">
        <div class="col-12">
          <%- include('../components/contact_us.ejs') %>
        </div>
      </div>
    </div>
  </div>
  <%- include('../components/footer.ejs') %>
</body>

</html>