<!DOCTYPE html>
<html>

<head>
  <!--------------------------------------------header--------------------------------------------------------->

  <!----------------------------------------------------------------------------------------------------------->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
  <script src="/jquery/jquery.js"></script>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/default.css">
  <link rel="stylesheet" href="/styles/homepage.css">
  <link rel="stylesheet" href="/styles/cssnya.css">
  <link rel="stylesheet" href="/styles/popupfeedback.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.css">
  <link rel="stylesheet" href="/assets/font/fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css">

  <title>Filmen</title>
</head>

<body>
  <!----------------------------------------------halaman berita----------------------------------------------->
  <%- include('../components/header.ejs', {page:''}) %>
  <div class="sidebar-common">
    <%- include('../components/loginHomePage.ejs') %>
  </div>
  <div class="homepage">
    <div class="container-fluid px-0 py-5 gy-3">
      <div class="form" style="margin-top: 3rem;">
        <div class="row g-3">
          <div class="col-12">
            <div class="container-rating">
              <div class="container-rating-inner">
                <p class="text-rating">Berikan Skala 0-10, Seberapa besarkah kamu akan merekomendasikan Website Filmen ke teman atau kolega?</p>
                <div class="rating-website">
                  <div class="rating-website-inner">
                    <div class="text-rate">
                      <p>Sangat tidak merekomendasikan</p>
                      <p>Sangat merekomendasikan</p>
                    </div>
                    <div class="btn-group icon-rate" role="group">
                      <% for(i=0;i <= 10;i++){ %>
                      <input type="radio" class="btn-check" name="btnradio" id="btnradio<%= i %>" autocomplete="off" value="<%= i %>">
                      <label class="btn btn-outline-primary icon-value" for="btnradio<%= i %>"><%= i %></label>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="container-rating">
              <div class="container-rating-inner">
                <p class="text-rating">Apa alasan kamu memberikan skala tersebut ?</p>
                <textarea name="alasan" id="alasan" placeholder="Tulis disini.."></textarea>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="container-rating">
              <div class="container-rating-inner">
                <p class="text-rating">Berikan pendapat kamu selama berselancar bersama kami!</p>
                <textarea name="pendapat" id="pendapat" placeholder="Tulis disini.."></textarea>
              </div>
            </div>
          </div>
          <!--button-->
          <div class="col-12">
            <button type="submit" class="btn-feedback" disabled=true data-bs-toggle="modal" data-bs-target="#popupfeedback">Kirim Masukan</button>
          </div>
          <div class="modal fade" id="popupfeedback">
            <div class="modal-dialog  modal-dialog-centered">
              <div class="modal-content popupfeedback">
                <!-- Modal body -->
                <div class="modal-body">
                  <div align="right">
                    <img src="../assets/Iconclose.png" alt="" width="50px" style="text-align: right;" class="btn" data-bs-dismiss="modal">
                  </div>
                  <img src="../assets/Feedbackpopup.png" alt="" style="width: 100%; height: 100%; border-radius: 2%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../components/footer.ejs') %>
  <script>
    $(document).ready(function() {

      var $inputs = $(".icon-rate input");
      $inputs.on("input", function() {
        var $filled = $inputs.filter(function() {
          return this.value.trim().length > 0;
        });
        $('.btn-feedback').toggleClass('active', $filled.length > 0);
        $('.btn-feedback').attr('disabled', false);
      });

      $('.btn-feedback').click(function() {
        // Ini data nya udah ada semua, tinggal coba post datanya ke database
        var alasan = $("#alasan").val()
        var pendapat = $("#pendapat").val()
        var rating = $('input[name="btnradio"]:checked').val();
        //bagian ini untuk post ke database
        $.ajax({
          type: "POST",
          url: "http://localhost:3000/feedback",
          data: {
            rating,
            pendapat,
            alasan
          },
        });
        console.log(alasan, pendapat)
        // alasan.val('');
        // pendapat.val('');
      });
    });
  </script>
</body>

</html>