<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/jquery/jquery.js"></script>
  <script src="/js/login.js"></script>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
  <link rel="stylesheet" href="/styles/loginReg.css">
  <title>Login FILMEN</title>
</head>

<body>
  <img src="/assets/BG_LOGIN.png" alt="" class="bg-login">
  <input type="text" hidden value="<%= typeof messages.success_msg != 'undefined' ? messages.success_msg : '' %>" name="" id="sukses">
  <input type="text" hidden value="<%= typeof message != 'undefined' ? message : '' %>" name="" id="error">
  <div class="alert alert-success warning-register" id="sukses-register" role="alert">
    <p style="margin: 0;"><%= typeof messages.success_msg != 'undefined' ? messages.success_msg : '' %></p>
  </div>
  <div class="alert alert-danger warning-register" id="alert-register" role="alert">
    <p style="margin: 0;"><%= typeof message != 'undefined' ? message : '' %></p>
  </div>
  <div class="login-page">
    <div class="container-fluid">
      <h2 class="title-text" style="text-align:center;">Hi , Selamat datang di Filmen</h2>
      <div class="login-container">
        <div class="title-login">
          <p>Login.</p>
          <a href="/register">Belum punya akun? Daftar</a>
        </div>
        <form action="/login" method="post" autocomplete="off">
          <div class="login-inner">
            <div class="input">
              <input type="email" id="email" placeholder="Email..." name="email">
              <% if((typeof errorsEmail != 'undefined') && errorsEmail[0]) { %>
              <p class="error"> <%= errorsEmail[0].message %> </p>
              <% } else { %>
              <p class="error"> </p>
              <% } %>
            </div>
            <div class="input">
              <input type="password" id="pwd" placeholder="Password..." name="password">
              <% if((typeof errorsPassword != 'undefined') && errorsPassword[0]) { %>
              <p class="error"> <%= errorsPassword[0].message %> </p>
              <% } else { %>
              <p class="error"> </p>
              <% } %>
            </div>
            <!-- <i onclick="myFunction(this)" class="bi-eye-slash" id="togglePassword"></i> -->
            <!-- <a href=""> Lupa Password? </a> -->
            <button type="submit" onclick="loading(event)">Login</button>
          </div>
        </form>
        <div class="back-button">
          <img src="/components/Asset/ICON/btn-back.png" alt="">
          <a href="/">Kembali ke halaman awal</a>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    var token = localStorage.getItem("Token")
    if (token) {
      window.location.replace("/");
    }
    const suksesManual = $("#sukses-register");
    const alertManual = $("#alert-register");
    if ($("#sukses").val()) {
      suksesManual.addClass("show");
      setTimeout(() => {
        suksesManual.removeClass("show");
      }, 4000)
    } else if ($("#error").val()) {
      alertManual.addClass("show");
      setTimeout(() => {
        alertManual.removeClass("show");
      }, 2000)
    }
    var a = document.getElementsByClassName("loadingcircle 1")[0];
    var b = document.getElementsByClassName("loadingcircle 2")[0];
    var c = document.getElementsByClassName("background")[0];

    function loading(event) {
      a.classList.toggle("move1");
      b.classList.toggle("move2");
      c.classList.toggle("transparansi");
      setTimeout(() => {
        c.classList.remove("transparansi");
      }, 2000)
    }
  })
  // const togglePassword = document
  //   .querySelector('#togglePassword');
  // const password = document.querySelector('#pwd');
  // togglePassword.addEventListener('click', () => {
  //   // Toggle the type attribute using
  //   // getAttribure() method
  //   const type = password
  //     .getAttribute('type') === 'password' ?
  //     'text' : 'password';
  //   password.setAttribute('type', type);
  // });
  // // Toggle the eye and bi-eye icon
  // function myFunction(x) {
  //   x.classList.toggle("bi-eye");
  // }
</script>

</html>