<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="/js/login.js"></script> -->
  <title>Signup FILMEN</title>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
  <script src="/jquery/jquery.js"></script>
  <link rel="stylesheet" href="/styles/loginReg.css">
  <link rel="stylesheet" href="/styles/loading_animation.css">
</head>

<body>
  <div class="background">
    <div class="posisianimasiload">
      <div class="loadingcircle 2"></div>
      <div class="loadingcircle 1"></div>
    </div>
  </div>
  <input type="text" hidden value="<%= typeof message != 'undefined' ? message : '' %>" name="" id="error">
  <div class="alert alert-danger warning-register" id="alert-register" role="alert">
    <p style="margin: 0;"><%= typeof message != 'undefined' ? message : '' %></p>
  </div>
  <img src="/assets/BG_LOGIN.png" alt="" class="bg-login">
  <div class="login-page">
    <div class="container-fluid">
      <h2 class="title-text" style="text-align:center;">Hi , Selamat datang di Filmen</h2>
      <div class="login-container">
        <div class="title-login">
          <p>Sign up.</p>
          <a href="/login">Sudah punya akun? Login</a>
        </div>
        <form action="/register" method="post" autocomplete="off">
          <div class="login-inner">
            <div class="input">
              <input type="text" id="fullname" placeholder="Fullname..." name="fullname">
              <% if((typeof errorsName != 'undefined') && errorsName[0]) { %>
              <p class="error"> <%= errorsName[0].message %> </p>
              <% } else { %>
              <p class="error"> </p>
              <% } %>
            </div>
            <div class="input">
              <input type="email" id="email" placeholder="Email..." name="email">
              <% if((typeof errorsEmail != 'undefined') && errorsEmail[0]) { %>
              <p class="error"> <%= errorsEmail[0].message %> </p>
              <% } else { %>
              <p class="error"> </p>
              <% } %>
            </div>
            <div class="input">
              <input type="password" id="password" placeholder="Password..." name="password">
              <% if((typeof errorsPassword != 'undefined') && errorsPassword[0]) { %>
              <p class="error"> <%= errorsPassword[0].message %> </p>
              <% } else { %>
              <p class="error"> </p>
              <% } %>
            </div>
            <p class="note-password">*Password minimal terdiri dari 8 karakter dan 1 angka.</p>
            <!-- <i onclick="myFunction(this)" class="bi-eye-slash" id="togglePassword"></i> -->
            <!-- <a href=""> Lupa Password? </a> -->
            <button onclick="loading(event)" type="submit">Sign up</button>
          </div>
        </form>
        <div class="back-button">
          <img src="/components/Asset/ICON/btn-back.png" alt="">
          <a href="/">Kembali ke halaman awal</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      const alertManual = $("#alert-register");
      if ($("#error").val()) {
        alertManual.addClass("show");
        setTimeout(() => {
          alertManual.removeClass("show");
        }, 2000)
      }
      var a = document.getElementsByClassName("loadingcircle 1")[0];
      var b = document.getElementsByClassName("loadingcircle 2")[0];
      var c = document.getElementsByClassName("background")[0];

      function loading(event) {
        a.classList.toggle("move1");
        b.classList.toggle("move2");
        c.classList.toggle("transparansi");
        setTimeout(() => {
          c.classList.remove("transparansi");
        }, 2000)
      }
    })
  </script>
</body>

</html>