<!DOCTYPE html>
<html>

<head>
  <!--------------------------------------------header--------------------------------------------------------->

  <!----------------------------------------------------------------------------------------------------------->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="/jquery/jquery.js"></script>
  <script src="/js/truncate.js"></script>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/category.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/default.css">
  <link rel="stylesheet" href="/styles/homepage.css">
  <link rel="stylesheet" href="/styles/share.css">
  <link rel="stylesheet" href="/styles/komentar.css">
  <link rel="stylesheet" href="/styles/movienewslainnya.css">
  <link rel="stylesheet" href="/styles/video_teratas.css">
  <link rel="stylesheet" href="/styles/beritaPartials.css">
  <link rel="stylesheet" href="/styles/headlineHome.css">
  <link rel="stylesheet" href="/styles/banner_berita_asia.css">
  <link rel="stylesheet" href="/styles/mini-headlinenews.css">
  <link rel="stylesheet" href="/styles/sorting.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.css">
  <link rel="stylesheet" href="/assets/font/fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css">

  <title>Filmen</title>
</head>

<body>
  <!----------------------------------------------halaman berita----------------------------------------------->
  <%- include('../components/header.ejs', {page:'home'}) %>
  <div class="sidebar-common">
    <%- include('../components/loginHomePage.ejs') %>
  </div>
  <div class="homepage">
    <div class="container-fluid px-0 py-5 gy-3">
      <div class="row gx-4" style="margin-top: 3rem;">
        <div class="col-9">
          <div class="row g-4">
            <div class="col-12">
              <div class="sort-container">
                <div class="sort-container-inner">
                  <% if(data.length) { %>
                  <h3> Pencarian Untuk : <%= search %> </h3>
                  <% }else{ %>
                  <h3>Pencarian Untuk '<%= search %>' Tidak Ditemukan</h2>
                    <% } %>
                </div>
              </div>
            </div>
            <% if(data.length !== 0) { %>
            <% data.map((data)=>{ %>
            <div class="col-6">
              <%- include('../components/mini-headlinenews.ejs', {data}) %>
            </div>
            <% }) %>
            <% } else { %>
            <% } %>
          </div>
        </div>
        <div class="col-3">
          <h2 style="font-size: 26px; font-weight: 600;">Trending Topics</h2>
          <div class="container-topics">
            <div class="container-topics-inner">
              <% dataTrending.map((berita)=>{ %>
              <%- include('../components/beritaPartials.ejs', {data:berita}) %>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('../components/footer.ejs') %>

</body>

</html>