<!DOCTYPE html>
<html>

<head>
  <!--------------------------------------------header--------------------------------------------------------->

  <!----------------------------------------------------------------------------------------------------------->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
  <script src="/jquery/jquery.js"></script>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/category.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/default.css">
  <link rel="stylesheet" href="/styles/homepage.css">
  <link rel="stylesheet" href="/styles/highlight.css">
  <link rel="stylesheet" href="/styles/interviewVideo.css">
  <link rel="stylesheet" href="/styles/HalamanVideoComponentVideoTeratas.css">
  <link rel="stylesheet" href="/styles/komentar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.css">
  <link rel="stylesheet" href="/assets/font/fontawesome-free-5.15.4-web/fontawesome-free-5.15.4-web/css/all.css">

  <title>Filmen</title>
</head>

<body>
  <!----------------------------------------------halaman berita----------------------------------------------->
  <%- include('../components/header.ejs', {page:'video'}) %>
  <div class="sidebar-common">
    <%- include('../components/loginHomePage.ejs') %>
    <%- include('../components/category.ejs',{page}) %>
  </div>
  <div class="homepage">
    <div class="container-fluid px-0 py-5 gy-3">
      <div class="row g-4">
        <div class="col-12">
          <div class="highlight-video">
            <div class="row">
              <div class="col-4">
                <div class="highlight-text">
                  <h3>Highlight</h3>
                  <div style="text-align: left; padding: 10px;">
                    <img src="/assets/cuate.png" alt="vector" style=" width: 482px; padding: 8px;">
                  </div>
                </div>
              </div>
              <% dataHighlight.map((video)=>{ %>
              <div class="col-4">
                <%- include('../components/highlight.ejs', {data : video}) %>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
        <% if(dataVideo.length !== 0) {%>
        <h2 style="margin-top: 30px; font-size: 26px; font-weight: 600;">Video Teratas</h2>
        <% for(let i=3 ;i < 9 ; i++) {  %>
        <div class="col-4">
          <%- include('../components/videoPartials.ejs', {data:dataVideo[i]}) %>
        </div>
        <% } %>
        <% } %>
        <div class="col-12">
          <div class="highlight">
            <h3 style="color: rgb(253, 152, 0); font-size: 42px;"><b>Interview Moments</b></h3>
            <!-- Logo 1 -->
            <div style="text-align: center; padding: 58px 0px;">
              <img src="/assets/noWayHome.png" alt="nowayhome" style=" width: 352px; padding: 8px;">
            </div>
            <div class="row">
              <% for(let i = 0; i < 3; i++){ %>
              <div class="col-4">
                <%- include('../components/highlight.ejs', {data:dataNoWayHome[i]}) %>
              </div>
              <% } %>
            </div>
            <!-- Logo 2 -->
            <div style="text-align: center; padding: 58px 0px;">
              <img src="/assets/layanganPutus.png" alt="layanganputus" style=" width: 360px; padding: 8px;">
            </div>
            <div class="row">
              <% for(let i=0;i < 3;i++){ %>
              <div class="col-4">
                <%- include('../components/highlight.ejs', {data:dataLayanganPutus[i]}) %>
              </div>
              <% } %>
            </div>

            <!-- Logo 3 -->
            <div style="text-align: center; padding: 24px 0px;">
              <img src="/assets/startUp.png" alt="sup" style=" width: 288px;">
            </div>
            <div class="row">
              <% for(let i = 0; i < 3 ;i++){ %>
              <div class="col-4">
                <%- include('../components/highlight.ejs', {data:dataStartup[i]}) %>
              </div>
              <% }%>
            </div>
          </div>
        </div>
        <% if(dataVideo.length !== 0) { %>
        <h2 style="margin-top: 30px; margin-bottom: 30px; font-size: 26px; font-weight: 600;">Video Teratas</h2>
        <% for(let i=0 ;i < 3 ; i++) {  %>
        <div class="col-4">
          <%- include('../components/videoPartials.ejs', {data:dataVideo[i]}) %>
        </div>
        <% }  %>
        <% } %>
      </div>
    </div>
  </div>
  </div>
  <%- include('../components/footer.ejs') %>

</body>

</html>
